<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="../assets/css/global.css" />
    <link rel="stylesheet" href="../assets/css/forgot-password-1.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Open Sans:wght@400;600&display=swap"
    />
  </head>
  <body>
    <div class="forgot-password-1">
      <div class="header">
        <a class="logo1">LOGO</a>
        <div class="password-reset">
          <div class="password-title">
            <div class="password-form">
              <h2 class="forgot-password1">Forgot Password</h2>
              <div class="please-enter-your">
                Please enter your email to reset the password
              </div>
            </div>
            <div class="email-group">
              <div class="email1">Email</div>
              <div class="email-field">
                <div class="message-field">
                  <img
                    class="message-1-icon1"
                    alt=""
                    src="../assets/public/message-1.svg"
                  />
                </div>
                <input
                  class="enter-your-email1"
                  placeholder="Enter your email address"
                  type="text"
                />
              </div>
              <div class="instance-child"></div>
            </div>
            <button class="rectangle-container">
              <div class="frame-inner"></div>
              <div class="reset-password">Reset Password</div>
            </button>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="group-div">
          <div class="rectangle-div"></div>
          <div class="saly-10-wrapper">
            <img
              class="saly-10-icon1"
              loading="lazy"
              alt=""
              src="../assets/public/saly10@2x.png"
            />
          </div>
          <div class="learntelligence-parent">
            <h1 class="learntelligence1">Learntelligence</h1>
            <div class="empower-learning-with1">Empower Learning with AI</div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
