.logo-icon3 {
  height: 40.5px;
  width: 156.8px;
  position: relative;
}
.home3 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 39px;
}
.nav-links3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.avatar-icon3 {
  height: 36px;
  width: 36px;
  position: relative;
  border-radius: 50%;
  object-fit: cover;
}
.login-section3 {
  flex-direction: row;
  justify-content: flex-start;
}
.header-content3,
.header4,
.login-section3 {
  display: flex;
  align-items: center;
}
.header-content3 {
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1280px;
  gap: 20px;
}
.header4 {
  align-self: stretch;
  background-color: #fff;
  border-bottom: 1px solid #e8ecf2;
  flex-direction: column;
  justify-content: flex-start;
  padding: 14px 43px 12px;
  top: 0;
  z-index: 99;
  position: sticky;
  text-align: left;
  font-size: 14px;
  color: #000;
  font-family: Archivo;
}
.bg34 {
  width: 1280px;
  height: 270px;
  position: relative;
  border-radius: 20px;
  background-color: #efebf5;
  display: none;
  max-width: 100%;
}
.circle-name1,
.circle2 {
  position: relative;
  z-index: 2;
}
.circle2 {
  text-decoration: none;
  letter-spacing: 0.03em;
  font-weight: 500;
  color: inherit;
  display: inline-block;
  min-width: 50px;
}
.circle-name1 {
  margin: 0;
  font-size: inherit;
  line-height: 50px;
  font-weight: 600;
  font-family: inherit;
}
.bg33,
.circle-name-wrapper {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.circle-name-wrapper {
  width: 1170px;
  flex-direction: row;
  justify-content: center;
  font-size: 45px;
  color: #0a033c;
}
.bg33 {
  align-self: stretch;
  border-radius: 20px;
  background-color: #efebf5;
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px 30px 126px;
  box-sizing: border-box;
  gap: 49px;
  font-size: 16px;
  color: #9c4df4;
}
.description2 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
}
.description3 {
  align-self: stretch;
  position: relative;
  font-size: 16px;
  line-height: 30px;
  color: #5d5a6f;
}
.description-parent,
.invitation-details {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.description-parent {
  flex: 1;
  flex-direction: column;
}
.invitation-details {
  width: 100%;
  flex-direction: row;
  padding: 0 12px 46px;
  box-sizing: border-box;
}
.invitation-link2 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
}
.httpsfahmisabilacom1 {
  align-self: stretch;
  position: relative;
  font-size: 16px;
  line-height: 30px;
  color: #5d5a6f;
}
.invitation-details1,
.invitation-link-group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.invitation-link-group {
  flex: 1;
  flex-direction: column;
}
.invitation-details1 {
  width: 100%;
  flex-direction: row;
  padding: 0 12px 19px;
  box-sizing: border-box;
}
.bg35,
.courses1 {
  position: relative;
}
.courses1 {
  margin: 0;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  min-width: 126px;
}
.bg35 {
  width: 290px;
  height: 329px;
  border-radius: 15px;
  background-color: #fff;
  display: none;
}
.java-basics1 {
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2; 
  -webkit-box-orient: vertical;
  overflow: hidden;
  word-wrap: break-word;
  text-overflow: ellipsis;
  white-space: normal;
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  line-height: 30px;
  z-index: 1;
  width: 100%;
}
.java-badge {
  width: 100%;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.create-course {
  cursor: pointer;
  border: 0;
  padding: 7px 10px;
  background-color: #195e24;
  margin-right: 10px;
  box-shadow: 0 15px 50px rgba(255, 102, 82, 0.2);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  color: white;
}
.java-basics-is1 {
  display: -webkit-box;
  line-clamp: 4;
  -webkit-line-clamp: 4; 
  -webkit-box-orient: vertical;
  overflow: hidden;
  word-wrap: break-word;
  text-overflow: ellipsis;
  white-space: normal;
  align-self: stretch;
  position: relative;
  font-size: 16px;
  line-height: 30px;
  color: #5d5a6f;
  z-index: 1;
}
.java-course-content {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 39px;
}
.bg36 {
  height: 32px;
  width: 114px;
  position: relative;
  border-radius: 5px;
  border: 1px solid #0c21c1;
  box-sizing: border-box;
  display: none;
}
.edit-preview {
  flex: 1;
  position: relative;
  font-size: 13px;
  line-height: 16px;
  font-weight: 500;
  font-family: Inter;
  color: #0c21c1;
  text-align: center;
  display: inline-block;
  min-width: 93.6px;
  z-index: 1;
}
.button-preview1 {
  cursor: pointer;
  border: 1px solid #0c21c1;
  padding: 4px 10px 8px;
  background-color: transparent;
  width: 114px;
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  white-space: nowrap;
  z-index: 1;
}
.button-preview1:hover {
  background-color: rgba(64, 84, 245, 0.09);
  border: 1px solid #4054f5;
  box-sizing: border-box;
}
.bg37,
.delete {
  position: relative;
}
.bg37 {
  height: 32px;
  width: 68.2px;
  border-radius: 5px;
  border: 1px solid red;
  box-sizing: border-box;
  display: none;
}
.delete {
  flex: 1;
  line-height: 16px;
  font-weight: 500;
  display: inline-block;
  min-width: 44px;
  z-index: 1;
}
.button-delete {
  width: 68.2px;
  border-radius: 5px;
  border: 1px solid red;
  box-sizing: border-box;
  justify-content: flex-start;
  padding: 4px 12px 8px;
  z-index: 1;
  cursor: pointer;
}
.button-delete:hover {
  background-color: rgba(244, 24, 24, 0.09);
  border: 1px solid red;
  box-sizing: border-box;
}
.action-buttons,
.button-delete,
.course-actions {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.action-buttons {
  flex: 1;
  justify-content: space-between;
  gap: 20px;
}
.course-actions {
  align-self: stretch;
  justify-content: flex-end;
  padding: 0 10px 0 17px;
  font-size: 13px;
  color: red;
  font-family: Inter;
}
.java-course-details {
  flex: 0 1 275px;
  margin: 10px;
  width: 275px;
  height: 380px;
  border-radius: 15px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 33px 15px 20px;
  box-sizing: border-box;
  gap: 77px;
  min-width: 275px;
  max-width: 275px;
}
.bg38,
.icon {
  position: relative;
}
.bg38 {
  height: 329px;
  width: 290px;
  border-radius: 15px;
  background-color: #fff;
  display: none;
}
.icon {
  height: 14px;
  width: 14px;
  overflow: hidden;
  flex-shrink: 0;
}
.badge {
  width: 24px;
  height: 22px;
  border-radius: 16px;
  background-color: #fff;
  border: 1px solid #457eff;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 4px;
  z-index: 1;
}
.badge-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 4px 0 0;
}
.create {
  width: 57px;
  position: relative;
  line-height: 30px;
  display: inline-block;
  flex-shrink: 0;
  min-width: 57px;
  z-index: 1;
}
.java-course,
.java-course-details1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.java-course-details1 {
  flex: 0.3923;
  border-radius: 15px;
  background-color: #fff;
  padding: 148px 94px 151px;
  box-sizing: border-box;
  gap: 5px;
  min-width: 275px;
  font-size: 16px;
  color: #5d5a6f;
}
.java-course {
  flex: 1;
  gap: 19px;
  max-width: 100%;
}
.course-list1 {
  gap: 20px;
  flex-direction: row;
  overflow-x: auto;
  padding: 0 0 0 11px;
  box-sizing: border-box;
  text-align: center;
  font-size: 25px;
}
.course-list1,
.courses-header,
.courses-header-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.courses-header {
  flex: 1;
  width: 100%;
  height: auto;
  flex-direction: column;
  gap: 34px;
}
.courses-header-wrapper {
  width: 100%;
  height: auto;
  flex-direction: column;
  padding: 0 12px 10px;
  box-sizing: border-box;
}
.bg39,
.members1 {
  position: relative;
}
.members1 {
  margin: 0;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
}
.bg39 {
  height: 133px;
  width: 580px;
  border-radius: 10px;
  background-color: #fff;
  display: none;
  max-width: 100%;
}
.image-icon9 {
  height: 103px;
  width: 149.7px;
  border-radius: 10px;
  object-fit: cover;
}
.creator1,
.image-icon9,
.yoga1 {
  position: relative;
  z-index: 1;
}
.yoga1 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 150px; 
  margin: 0;
  font-size: inherit;
  line-height: 30px;
  font-weight: 600;
  font-family: inherit;
  word-break: break-word; 
}
.creator1 {
  width: 150px;
  align-self: stretch;
  font-size: 16px;
  line-height: 30px;
  color: #5d5a6f;
}
.inner2,
.yoga-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.yoga-parent {
  align-self: stretch;
  gap: 8.8px;
}
.inner2 {
  width: 385px;
  padding: 9.2px 0 0;
  margin-left: 6px;
  box-sizing: border-box;
  max-width: 100%;
}
.bg40,
.div23 {
  border-radius: 10px;
  background-color: #fff;
  max-width: 100%;
}
.div23 {
  width: 350px;
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 15px 14px;
  box-sizing: border-box;
  gap: 3.3px;
}
.bg40 {
  height: 133px;
  width: 580px;
  position: relative;
  display: none;
}
.image-icon10 {
  height: 103px;
  width: 149.7px;
  border-radius: 10px;
  object-fit: contain;
}
.andrew1,
.image-icon10,
.user7 {
  position: relative;
  z-index: 1;
}
.andrew1 {
  margin: 0;
  width: 110px;
  font-size: inherit;
  line-height: 20px;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
}
.user7 {
  align-self: stretch;
  font-size: 16px;
  line-height: 30px;
  color: #5d5a6f;
}
.andrew-group,
.inner3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.andrew-group {
  align-self: stretch;
  gap: 8.8px;
}
.inner3 {
  width: 385px;
  padding: 9.2px 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.bg41,
.div24 {
  border-radius: 10px;
  background-color: #fff;
  max-width: 100%;
}
.div24 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 15px 14px;
  box-sizing: border-box;
  gap: 3.3px;
}
.bg41 {
  height: 133px;
  width: 580px;
  position: relative;
  box-shadow: 0 50px 80px rgba(0, 0, 0, 0.05);
  display: none;
}
.image-icon11 {
  height: 103px;
  width: 149.7px;
  border-radius: 10px;
  object-fit: cover;
}
.fahmi1,
.image-icon11,
.user8 {
  position: relative;
  z-index: 1;
}
.fahmi1 {
  margin: 0;
  width: 92px;
  font-size: inherit;
  line-height: 20px;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
}
.user8 {
  align-self: stretch;
  font-size: 16px;
  line-height: 30px;
  color: #5d5a6f;
}
.fahmi-group,
.inner4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.fahmi-group {
  align-self: stretch;
  gap: 8.8px;
}
.inner4 {
  width: 385px;
  padding: 9.2px 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.bg42,
.div25 {
  border-radius: 10px;
  background-color: #fff;
  max-width: 100%;
}
.div25 {
  align-self: stretch;
  box-shadow: 0 50px 80px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 15px 14px;
  box-sizing: border-box;
  gap: 3.3px;
}
.bg42 {
  height: 133px;
  width: 580px;
  position: relative;
  display: none;
}
.image-icon12 {
  height: 103px;
  width: 149.7px;
  border-radius: 10px;
  object-fit: cover;
}
.image-icon12,
.sabila1,
.user9 {
  position: relative;
  z-index: 1;
}
.sabila1 {
  margin: 0;
  font-size: inherit;
  line-height: 20px;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  min-width: 80px;
}
.user9 {
  align-self: stretch;
  font-size: 16px;
  line-height: 30px;
  color: #5d5a6f;
}
.sabila-group {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8.8px;
}
.inner5 {
  width: 385px;
  flex-direction: column;
  padding: 9.2px 0 0;
  box-sizing: border-box;
}
.div26,
.inner5,
.parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.div26 {
  align-self: stretch;
  border-radius: 10px;
  background-color: #fff;
  flex-direction: row;
  padding: 15px 14px;
  box-sizing: border-box;
  gap: 3.3px;
}
.parent {
  width: 580px;
  flex-direction: column;
  gap: 30px;
  min-width: 580px;
}
.bambang1 {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 20px;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  min-width: 122px;
  z-index: 1;
}
.bg43,
.image-icon13 {
  position: absolute;
  border-radius: 10px;
}
.bg43 {
  top: 0;
  left: 0;
  background-color: #fff;
  width: 100%;
  height: 100%;
}
.image-icon13 {
  top: 15px;
  left: 15px;
  width: 160px;
  height: 103px;
  object-fit: cover;
  z-index: 1;
}
.bottom-image {
  height: 100%;
  width: 580px;
  position: absolute;
  margin: 0 !important;
  top: 0;
  bottom: 0;
  left: 0;
}
.user10 {
  align-self: stretch;
  position: relative;
  line-height: 30px;
  z-index: 1;
}
.bambang-group,
.bottom-user {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.bottom-user {
  flex: 1;
  flex-direction: column;
  padding: 29px 0 0;
  margin-left: -121px;
  font-size: 16px;
  color: #5d5a6f;
}
.bambang-group {
  align-self: stretch;
  flex-direction: row;
  padding: 24px 0 50px 184px;
  position: relative;
}
.bg44,
.image-icon14 {
  position: relative;
  border-radius: 10px;
}
.bg44 {
  height: 133px;
  width: 580px;
  background-color: #fff;
  display: none;
  max-width: 100%;
}
.image-icon14 {
  height: 103px;
  width: 149.7px;
  object-fit: contain;
  z-index: 1;
}
.rommy1,
.user11 {
  position: relative;
  display: inline-block;
  z-index: 1;
}
.rommy1 {
  margin: 0;
  font-size: inherit;
  line-height: 20px;
  font-weight: 600;
  font-family: inherit;
  min-width: 97px;
}
.user11 {
  flex: 1;
  line-height: 30px;
  max-width: 100%;
}
.user-wrapper1 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 1px;
  box-sizing: border-box;
  font-size: 16px;
  color: #5d5a6f;
}
.div27,
.inner6,
.rommy-group,
.user-wrapper1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.rommy-group {
  align-self: stretch;
  flex-direction: column;
  gap: 8.8px;
}
.div27,
.inner6 {
  box-sizing: border-box;
}
.inner6 {
  flex: 1;
  flex-direction: column;
  padding: 9.2px 0 0;
  min-width: 251px;
}
.div27 {
  width: 580px;
  border-radius: 10px;
  background-color: #fff;
  flex-direction: row;
  padding: 15px 14px;
  gap: 8.3px;
}
.bg45,
.image-icon15 {
  position: relative;
  border-radius: 10px;
}
.bg45 {
  height: 133px;
  width: 580px;
  box-shadow: 0 50px 80px rgba(0, 0, 0, 0.05);
  background-color: #fff;
  display: none;
  max-width: 100%;
}
.image-icon15 {
  height: 103px;
  width: 149.7px;
  object-fit: cover;
  z-index: 1;
}
.ilyasa1,
.user12 {
  position: relative;
  display: inline-block;
  z-index: 1;
}
.ilyasa1 {
  margin: 0;
  width: 89px;
  font-size: inherit;
  line-height: 20px;
  font-weight: 600;
  font-family: inherit;
}
.user12 {
  flex: 1;
  line-height: 30px;
  max-width: 100%;
}
.user-wrapper2 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 1px;
  box-sizing: border-box;
  font-size: 16px;
  color: #5d5a6f;
}
.div28,
.ilyasa-group,
.inner7,
.user-wrapper2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.ilyasa-group {
  align-self: stretch;
  flex-direction: column;
  gap: 8.8px;
}
.div28,
.inner7 {
  box-sizing: border-box;
}
.inner7 {
  flex: 1;
  flex-direction: column;
  padding: 9.2px 0 0;
  min-width: 251px;
}
.div28 {
  width: 580px;
  box-shadow: 0 50px 80px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  background-color: #fff;
  flex-direction: row;
  padding: 15px 14px;
  gap: 8.3px;
}
.bg46,
.image-icon16 {
  position: relative;
  border-radius: 10px;
}
.bg46 {
  height: 133px;
  width: 580px;
  background-color: #fff;
  display: none;
  max-width: 100%;
}
.image-icon16 {
  height: 103px;
  width: 149.7px;
  object-fit: cover;
  z-index: 1;
}
.gunawan1,
.user13 {
  position: relative;
  display: inline-block;
  z-index: 1;
}
.gunawan1 {
  margin: 0;
  font-size: inherit;
  line-height: 20px;
  font-weight: 600;
  font-family: inherit;
  min-width: 119px;
}
.user13 {
  flex: 1;
  line-height: 30px;
  max-width: 100%;
}
.gunawan-group,
.user-wrapper3 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.user-wrapper3 {
  flex-direction: row;
  padding: 0 0 0 1px;
  box-sizing: border-box;
  font-size: 16px;
  color: #5d5a6f;
}
.gunawan-group {
  flex-direction: column;
  gap: 8.8px;
}
.inner8 {
  flex: 1;
  flex-direction: column;
  padding: 9.2px 0 0;
  box-sizing: border-box;
  min-width: 251px;
}
.div29,
.frame-parent17,
.inner8,
.member-list1 {
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.div29 {
  width: 580px;
  border-radius: 10px;
  background-color: #fff;
  flex-direction: row;
  padding: 15px 14px;
  box-sizing: border-box;
  gap: 8.3px;
}
.frame-parent17,
.member-list1 {
  gap: 30px;
}
.frame-parent17 {
  flex: 1;
  flex-direction: column;
  min-width: 387px;
}
.member-list1 {
  align-self: stretch;
  flex-direction: row;
  font-size: 24px;
}
.members-header {
  flex: 1;
  flex-direction: column;
  gap: 19px;
}
.content-description1,
.members-header,
.members-header-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.members-header-wrapper {
  width: 1230px;
  flex-direction: row;
  padding: 0 12px;
  box-sizing: border-box;
}
.content-description1 {
  flex: 1;
  flex-direction: column;
  gap: 30px;
  text-align: left;
  font-size: 30px;
  color: #0a033c;
  font-family: Poppins;
}
.content-description-wrapper {
  width: 1292px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 6px;
  box-sizing: border-box;
  max-width: 100%;
}
.creator-circle-page {
  width: 100%;
  position: relative;
  background-color: #f7f5fa;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 1px 0 76px;
  box-sizing: border-box;
  gap: 20.5px;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1275px) {
  .header-content3 {
    max-width: 100%;
  }
}
@media screen and (max-width: 1100px) {
  .parent {
    flex: 1;
  }
  .member-list1 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 750px) {
  .header4 {
    padding-left: 21px;
    padding-right: 21px;
    box-sizing: border-box;
  }
  .circle-name1 {
    font-size: 36px;
    line-height: 40px;
  }
  .bg33 {
    gap: 24px;
  }
  .courses1,
  .description2,
  .invitation-link2 {
    font-size: 24px;
  }
  .java-course-details,
  .java-course-details1 {
    flex: 1;
  }
  .java-course {
    flex-wrap: wrap;
  }
  .courses-header {
    gap: 17px;
  }
  .members1 {
    font-size: 24px;
  }
  .image-icon9 {
    flex: 1;
  }
  .div23 {
    flex-wrap: wrap;
  }
  .image-icon10 {
    flex: 1;
  }
  .div24 {
    flex-wrap: wrap;
  }
  .image-icon11 {
    flex: 1;
  }
  .div25 {
    flex-wrap: wrap;
  }
  .image-icon12 {
    flex: 1;
  }
  .div26 {
    flex-wrap: wrap;
  }
  .parent {
    min-width: 100%;
  }
  .bambang-group {
    padding-left: 92px;
    box-sizing: border-box;
  }
  .image-icon14 {
    flex: 1;
  }
  .div27 {
    flex-wrap: wrap;
  }
  .image-icon15 {
    flex: 1;
  }
  .div28 {
    flex-wrap: wrap;
  }
  .image-icon16 {
    flex: 1;
  }
  .div29 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 450px) {
  .circle-name1 {
    font-size: 27px;
    line-height: 30px;
  }
  .courses1,
  .description2,
  .invitation-link2 {
    font-size: 18px;
  }
  .java-basics1 {
    font-size: 20px;
  }
  .java-course-content {
    gap: 19px;
  }
  .java-course-details {
    gap: 38px;
  }
  .java-course-details1 {
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }
  .members1 {
    font-size: 18px;
  }
  .andrew1,
  .bambang1,
  .fahmi1,
  .sabila1,
  .yoga1 {
    font-size: 19px;
    line-height: 16px;
  }
  .bambang-group {
    padding-left: 20px;
    box-sizing: border-box;
  }
  .gunawan1,
  .ilyasa1,
  .rommy1 {
    font-size: 19px;
    line-height: 16px;
  }
  .frame-parent17 {
    min-width: 100%;
  }
}
