.logo1 {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  min-width: 56px;
}
.forgot-password1 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
}
.please-enter-your {
  align-self: stretch;
  position: relative;
  font-size: 16px;
}
.password-form {
  width: 308px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 16px;
  box-sizing: border-box;
  gap: 22px;
}
.email1 {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 36px;
}
.message-1-icon1 {
  width: 17px;
  height: 17px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.message-field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 4px 0 0;
}
.enter-your-email1 {
  width: calc(100% - 17px);
  border: 0;
  outline: 0;
  font-family: Poppins;
  font-size: 16px;
  background-color: transparent;
  height: 24px;
  flex: 1;
  position: relative;
  color: #000842;
  text-align: left;
  display: inline-block;
  min-width: 119px;
  padding: 0;
}
.email-field {
  width: 226px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}
.instance-child {
  align-self: stretch;
  height: 2px;
  position: relative;
  background-color: #000842;
}
.email-group {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 9px;
  font-size: 13px;
  color: #999;
}
.frame-inner {
  height: 53px;
  width: 429px;
  position: relative;
  box-shadow: 0 4px 26px rgba(0, 0, 0, 0.25);
  border-radius: 32px;
  background-color: #0c21c1;
  display: none;
  max-width: 100%;
}
.reset-password {
  position: relative;
  font-size: 17px;
  font-weight: 500;
  font-family: Poppins;
  color: #fff;
  text-align: left;
  z-index: 1;
}
.rectangle-container {
  cursor: pointer;
  border: 0;
  padding: 14px 20px 13px;
  background-color: #0c21c1;
  align-self: stretch;
  box-shadow: 0 4px 26px rgba(0, 0, 0, 0.25);
  border-radius: 32px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
  white-space: nowrap;
  max-width: 100%;
}
.rectangle-container:hover {
  background-color: #4054f5;
}
.password-title {
  align-self: stretch;
  flex-direction: column;
  gap: 42px;
}
.header,
.password-reset,
.password-title {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.password-reset {
  flex: 1;
  flex-direction: column;
  padding: 52px 0 0;
  box-sizing: border-box;
  min-width: 279px;
  font-size: 30px;
}
.header {
  width: 512px;
  flex-direction: row;
  gap: 27px;
  min-width: 512px;
}
.rectangle-div,
.saly-10-icon1 {
  position: relative;
  max-width: 100%;
}
.rectangle-div {
  width: 658px;
  height: 700px;
  border-radius: 15px;
  background-color: #000842;
  display: none;
}
.saly-10-icon1 {
  height: 424.6px;
  flex: 1;
  overflow: hidden;
  object-fit: cover;
  z-index: 1;
}
.saly-10-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 1px 0 22px;
  box-sizing: border-box;
  max-width: 100%;
}
.learntelligence1 {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 48.9px;
  font-weight: 600;
  font-family: inherit;
  flex-shrink: 0;
  z-index: 1;
}
.empower-learning-with1 {
  align-self: stretch;
  position: relative;
  font-size: 20px;
  line-height: 24.4px;
  font-weight: 300;
  flex-shrink: 0;
  z-index: 1;
}
.group-div,
.learntelligence-parent {
  flex-direction: column;
  max-width: 100%;
}
.learntelligence-parent {
  width: 354.5px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 3.2px;
}
.group-div {
  align-self: stretch;
  border-radius: 15px;
  background-color: #000842;
  padding: 52.2px 81px 78.3px 87px;
  gap: 68.4px;
}
.content,
.forgot-password-1,
.group-div {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.content {
  flex: 1;
  flex-direction: column;
  padding: 8px 0 0;
  min-width: 428px;
  max-width: 100%;
  font-size: 36px;
  color: #fff;
}
.forgot-password-1 {
  width: 100%;
  position: relative;
  background-color: #fff;
  overflow: hidden;
  flex-direction: row;
  padding: 21px 25px 39px 32px;
  gap: 139px;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: 20px;
  color: #000;
  font-family: Poppins;
}
@media screen and (max-width: 1100px) {
  .header {
    flex: 1;
  }
  .forgot-password-1 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1025px) {
  .forgot-password1 {
    font-size: 24px;
  }
  .learntelligence1 {
    font-size: 29px;
    line-height: 39px;
  }
}
@media screen and (max-width: 750px) {
  .header {
    flex-wrap: wrap;
    min-width: 100%;
  }
  .group-div {
    gap: 34px;
    padding: 34px 40px 51px 43px;
    box-sizing: border-box;
  }
  .content {
    min-width: 100%;
  }
  .forgot-password-1 {
    gap: 69px;
  }
}
@media screen and (max-width: 450px) {
  .logo1 {
    font-size: 16px;
  }
  .forgot-password1 {
    font-size: 18px;
  }
  .password-title {
    gap: 21px;
  }
  .password-reset {
    padding-top: 34px;
    box-sizing: border-box;
  }
  .learntelligence1 {
    font-size: 22px;
    line-height: 29px;
  }
  .empower-learning-with1 {
    font-size: 16px;
    line-height: 20px;
  }
  .group-div {
    gap: 17px;
    padding-left: 20px;
    box-sizing: border-box;
  }
  .forgot-password-1 {
    gap: 35px;
  }
}
