body, html {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fff;
}

.sign-in-page {
  display: flex;
  justify-content: space-between; /* Ensure that children are spaced out */
  align-items: stretch; /* Align items to stretch to fill the container */
  width: 90%;
  max-width: 1200px;
  overflow: hidden; /* Prevents content from overflowing */
}

.form-container, .branding {
  flex: 1; /* Each section takes equal width */
  display: flex;
  flex-direction: column;
  align-items: center; /* Center align the content */
  justify-content: center;
  padding: 20px;
  box-sizing: border-box; /* Includes padding and border in the element's total width and height */
}

.input-field img.icon, .social-logins img.social-icon {
  width: 30px; /* Set a specific width for icons */
  height: auto; /* Maintain aspect ratio */
  margin-right: 10px;
}

.input-field, .social-logins {
  width: 100%; /* Full width to align with form */
  margin: 10px 0;
}

.input-field input, .login-button {
  width: calc(100% - 40px); /* Calculate width, subtracting icon width */
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
}

.brand-logo {
  width: 80%; /* Adjust according to the aspect ratio of the image */
  height: auto; /* Maintain aspect ratio */
  object-fit: contain; /* Ensures the image is scaled correctly */
}

@media (max-width: 768px) {
  .sign-in-page {
      flex-direction: column; /* Stack elements vertically on smaller screens */
  }
}
