body, html {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fff;
}

.sign-in-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  max-width: 1200px;
}

.form-container {
  flex: 1;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  padding: 20px;
}

.form-content {
  max-width: 500px;
  /* width: 100%; */
}

.sign-in-form {
  display: flex;
  flex-direction: column;
}

.input-field {
  margin: 10px 0;
  display: flex;
  align-items: center;
  width: 100%;
}

.input-field img.icon {
  width: 30px;
  height: auto;
  margin-right: 10px;
}

.input-field input {
  padding: 10px;
  margin: 5px 0;
  border: 2px solid #ccc;
  border-radius: 5px;
}

.login-button {
  padding: 10px 20px;
  background-color: #0c21c1;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.login-button:hover {
  background-color: #4054f5;
}

.branding {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.branding img {
  width: 352px;  
  height: 320px;
}

.options {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.checkbox-container {
  display: flex;
  align-items: center;
}

.forgot-password {
  color: #0c21c1;
  cursor: pointer;
}

.social-logins {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.social-logins img.social-icon {
  margin: 0 10px; /* Space between social icons */
}

@media (max-width: 800px) {
  .sign-in-page {
      flex-direction: column;
      align-items: center;
  }

  .branding, .form-container {
      width: 100%;
  }
}
