<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="../assets/css/creator-circle-creation.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Open Sans:wght@400;600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500;600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Archivo:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Nunito Sans:wght@700&display=swap"
    />

    <style>
      @font-face {
        font-family: "Font Awesome 5 Free";
        src: url("../assets/public/Font Awesome 5 Free-Regular-400.otf");
        font-weight: 400;
      }
    </style>
  </head>
  <body>
    <div class="creator-circle-creation">
      <div class="content-header4">
        <div class="content-header-child2"></div>
        <h1 class="create-circle">Create Circle</h1>
      </div>
      <form id="form-creation">
        <footer class="content6">
          <section class="rectangle2"></section>
          <section class="circle-form">
            <div class="description-form">
              <h2 class="create-new-circle">Create new circle</h2>
              <div class="lorem-ipsum-dolor8">
                Build your learning community by creating a circle tailored to your interests and expertise. Define the purpose of your circle, invite members, and manage content to create a focused educational environment. Start by providing the necessary details and let the platform help you manage your circle with ease.
              </div>
            </div>
            <div class="circle-info-form">
              <div class="circle-info-form-child"></div>
              <div class="name-team-form">
                <div class="circle-name-form">
                  <div class="circle-name2">Circle Name</div>
                </div>
                <div class="circle-team-form">
                  <div class="circle-team-form-child"></div>
                  <input
                    class="marketing-team1"
                    id="circle-name-input"
                    placeholder="Ex: Marketing Team"
                    type="text"
                    required
                  />
                </div>
              </div>
              <div class="description-area-form">
                <div class="circle-description-form">
                  <div class="description-input-form">
                    <div class="descripion">Descripion</div>
                  </div>
                  <div class="description-default-form">
                    <div class="description-default-form-child"></div>
                    <input
                      class="learning-group-for"
                      id="circle-description-input"
                      placeholder="Ex: Learning Group for Marketing Team at ABC Corp"
                      type="text"
                      required
                    />
                  </div>
                </div>
              </div>
            </div>
          </section>
          <div class="create-button-area">
            <button class="button-create-circle" type="submit">
              <div class="bg47"></div>
              <div class="create-circle1">Create Circle</div>
            </button>
          </div>
        </footer>
      </form>
    </div>
    <script>
      const form = document.getElementById('form-creation');

      form.addEventListener('submit', function(event) {
        event.preventDefault();
        const name = document.getElementById('circle-name-input').value;
        const description = document.getElementById('circle-description-input').value;

        submitForm(name, description);
      })

      window.onload = function() {
        fetchUserData();
      }

      function fetchUserData() {
        const keyAuth = localStorage.getItem('keyLearntelligence');
        
        fetch('https://aff-learntelligence-be-3xei6xi65q-et.a.run.app/api/user', {
          method: 'GET',
          headers: {
            'Content-Type': 'application/json',
            'Authorization': "Bearer " + keyAuth
          }
        })
        .then(response => response.json())
        .then(data => {
          if (data.status == '200') {
            if (data.data.role == 'user') {
              window.location.href = `/templates/${data.data.role}-landing-page.html`
            }
          } else if (data.status == '500') {
            alert(data.message);
          } else { // unauthorized, not logged in, user not found
            alert(data.message);
            window.location.href = '/templates/sign-in-page.html';
          }
        })
      }

      function submitForm(name, description) {
        const keyAuth = localStorage.getItem('keyLearntelligence');

        const data = {
          'circleName': name,
          'description': description
        }

        fetch('https://aff-learntelligence-be-3xei6xi65q-et.a.run.app/api/circles/create', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
            'Authorization': "Bearer " + keyAuth
          },
          body: JSON.stringify(data)
        })
        .then(response => response.json())
        .then(data => {
          if (data.status == '201') {
            window.location.href =  `/templates/circle-page.html?circleId=${data.circleId}`;
            // TODO: redirect to creator circle page with circleId
          } else if (data.status == '500') {
            alert(data.message);
          } else { // unauthorized, not logged in, user not found
            alert(data.message);
            window.location.href = '/templates/sign-in-page.html';
          }
        })
        .catch((error) => {
          alert('An error occurred during creation: ' + error.message);
        })
      }
    </script>
  </body>
</html>
