<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="../assets/css/creator-preview-course.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Open Sans:wght@400;600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500;600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Archivo:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Nunito Sans:wght@700&display=swap"
    />

    <style>
      @font-face {
        font-family: "Font Awesome 5 Free";
        src: url("../assets/public/Font Awesome 5 Free-Regular-400.otf");
        font-weight: 400;
      }
    </style>
  </head>
  <body>
    <div class="creator-preview-course">
      <header class="main-layout1">
        <div class="navigation1">
          <img
            class="back-button-icon2"
            loading="lazy"
            alt=""
            src="../assets/public/back-button.svg"
          />

          <h2 class="curriculum4">Curriculum</h2>
        </div>
        <div class="header5">
          <div class="content-header5">
            <div class="content-header-child3"></div>
            <h1 class="chapter-01-introduction3">
              Chapter 01: Introduction about XD
            </h1>
          </div>
        </div>
      </header>
      <main class="content7">
        <div class="chapter-container">
          <div class="chapter-list1">
            <div class="chapter-14">
              <div class="chapter-1-child2"></div>
              <div class="chapter-icon">
                <div class="div30"></div>
              </div>
              <div class="chapter-014">Chapter 01 : Introduction about XD</div>
            </div>
            <div class="chapter-1-quiz3">
              <div class="chapter-1-quiz-child1"></div>
              <div class="div31"></div>
              <div class="quiz4">Quiz</div>
            </div>
            <div class="chapter-24">
              <div class="chapter-2-child2"></div>
              <div class="wrapper11">
                <div class="div32"></div>
              </div>
              <div class="chapter-2-basic4">Chapter 2: Basic Syntax</div>
            </div>
            <div class="chapter-34">
              <div class="chapter-3-child2"></div>
              <div class="wrapper12">
                <div class="div33"></div>
              </div>
              <div class="chapter-3-implementation4">
                Chapter 3: Implementation
              </div>
            </div>
            <div class="chapter-44">
              <div class="chapter-4-child2"></div>
              <div class="wrapper13">
                <div class="div34"></div>
              </div>
              <div class="chapter-4-maintaining4">
                Chapter 4: Maintaining the Code
              </div>
            </div>
            <div class="chapter-actions">
              <div class="edit-save-buttons">
                <button class="button-edit">
                  <div class="bg48"></div>
                  <div class="edit">Edit</div>
                </button>
                <button class="button-save1">
                  <div class="bg49"></div>
                  <div class="preview2">Save</div>
                </button>
              </div>
            </div>
          </div>
        </div>
        <section class="content8">
          <div class="separator"></div>
          <div class="o6-super-coins-on-the-way-parent">
            <h2 class="o6-super-coins2">O6 Super Coins on the way</h2>
            <div class="lorem-ipsum-dolor9">
              Lorem ipsum dolor sit amet, consectetur adi piscing elit, sed do
              eiusmodadipiscing elit, sed do eiusmodLorem ipsum dolor sit amet,
              consectetur adipiscing elit, sed do eiusmodadipiscing elit, sed do
              eiusmodLorem ipsum dolor sit amet, consectetur adipiscing elit,
              sed do eiusmodadipiscing elit, sed do eiusmodeiusmodadipiscing
              elit, sed do eiusmod
            </div>
          </div>
          <div class="explanation-of-the-topic-parent">
            <h2 class="explanation-of-the2">Explanation of the topic</h2>
            <div class="lorem-ipsum-dolor10">
              Lorem ipsum dolor sit amet, consectetur adi piscing elit, sed do
              eiusmodadipiscing elit, sed do eiusmodLorem ipsum dolor sit amet,
              consectetur adipiscing elit, sed do eiusmodadipiscing elit, sed do
              eiusmodLorem ipsum dolor sit amet, consectetur adipiscing elit,
              sed do eiusmodadipiscing elit, sed do eiusmodeiusmodadipiscing
              elit, sed do eiusmodL
            </div>
          </div>
          <div class="emphasis-container">
            <div class="emphasis-on-the-importance-parent">
              <h2 class="emphasis-on-the2">Emphasis on the importance</h2>
              <div class="lorem-ipsum-dolor-container2">
                <p class="lorem-ipsum-dolor11">
                  Lorem ipsum dolor sit amet, consectetur adi piscing elit, sed
                  do eiusmodadipiscing elit, sed do eiusmodLorem ipsum dolor sit
                  amet, consectetur adipiscing elit, sed do eiusmodadipiscing
                  elit, sed do eiusmodLorem ipsum dolor sit amet, consectetur
                  adipiscing elit, sed do eiusmodadipiscing elit, sed do
                  eiusmodeiusmodadipiscing elit, sed do eiusmodLWho this course
                  is for?
                </p>
                <p class="lorem-ipsum-dolor12">
                  Lorem ipsum dolor sit amet, consectetur adi piscing elit, sed
                  do eiusmodadipiscing elit, sed do eiusmodLorem ipsum dolor sit
                  amet, consectetur adipiscing elit, sed do eiusmodadipiscing
                  elit, sed do eiusmodLorem ipsum dolor sit amet, consectetur
                  adipiscing elit, sed do eiusmodadipiscing elit, sed do
                  eiusmodeiusmodadipiscing elit, sed do eiusmodL
                </p>
              </div>
            </div>
          </div>
        </section>
      </main>
    </div>
  </body>
</html>
