<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="../assets/css/creator-circle-creation.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Open Sans:wght@400;600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500;600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Archivo:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Nunito Sans:wght@700&display=swap"
    />

    <style>
      @font-face {
        font-family: "Font Awesome 5 Free";
        src: url("../assets/public/Font Awesome 5 Free-Regular-400.otf");
        font-weight: 400;
      }
    </style>
  </head>
  <body>
    <div class="creator-circle-creation">
      <div class="content-header4">
        <div class="content-header-child2"></div>
        <h1 class="create-circle">Create Circle</h1>
      </div>
      <footer class="content6">
        <section class="rectangle2"></section>
        <section class="circle-form">
          <div class="description-form">
            <h2 class="create-new-circle">Create new circle</h2>
            <div class="lorem-ipsum-dolor8">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmodadipiscing elit, sed do eiusmodLorem ipsum dolor sit amet,
              consectetur adipiscing elit, sed do eiusmodadipiscing elit, sed do
              eiusmodLorem ipsum dolor sit amet, consectetur adipiscing elit,
              sed do eiusmodadipiscing elit, sed do eiusmodeiusmodadipiscing
              elit, sed do eiusmodLorem
            </div>
          </div>
          <div class="circle-info-form">
            <div class="circle-info-form-child"></div>
            <div class="name-team-form">
              <div class="circle-name-form">
                <div class="circle-name2">Circle Name</div>
              </div>
              <div class="circle-team-form">
                <div class="circle-team-form-child"></div>
                <input
                  class="marketing-team1"
                  id="circle-name-input"
                  placeholder="Ex: Marketing Team"
                  type="text"
                />
              </div>
              <span class="invalid-message" id="name-message">Name isn't filled</span>
            </div>
            <div class="description-area-form">
              <div class="circle-description-form">
                <div class="description-input-form">
                  <div class="descripion">Descripion</div>
                </div>
                <div class="description-default-form">
                  <div class="description-default-form-child"></div>
                  <input
                    class="learning-group-for"
                    id="circle-description-input"
                    placeholder="Ex: Learning Group for Marketing Team at ABC Corp"
                    type="text"
                  />
                </div>
                <span class="invalid-message" id="description-message">Description isn't filled</span>
              </div>
            </div>
          </div>
        </section>
        <div class="create-button-area">
          <button class="button-create-circle" onclick="submitCircle()">
            <div class="bg47"></div>
            <div class="create-circle1">Create Circle</div>
          </button>
        </div>
      </footer>
    </div>
    <script>
      function submitCircle() {
        var circleName = document.getElementById("circle-name-input").value;
        var circleDescription = document.getElementById("circle-description-input").value;
        var nameMessage = document.getElementById("name-message");
        var descriptionMessage = document.getElementById("description-message");
        var flag = false;

        if (circleName == "") {
          flag = true;
          nameMessage.style.display = "block";
        } else {
          nameMessage.style.display = "none";
        }
        
        if (circleDescription == "") {
          flag = true;
          descriptionMessage.style.display = "block";
        } else {
          descriptionMessage.style.display = "none";
        }

        if (flag) {
          return flag;
        }
      }
    </script>
  </body>
</html>
