<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="../assets/css/creator-landing-page.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Open Sans:wght@400;600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500;600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Archivo:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Nunito Sans:wght@700&display=swap"
    />

    <style>
      @font-face {
        font-family: "Font Awesome 5 Free";
        src: url("../assets/public/Font Awesome 5 Free-Regular-400.otf");
        font-weight: 400;
      }
    </style>
  </head>
  <body>
    <div class="creator-landing-page">
      <div class="wrapper-bg-group">
        <div class="wrapper-bg1">
          <img class="bg-icon1" alt="" src="../assets/public/bg1.svg" />
        </div>
        <div class="image2">
          <img class="image-item" alt="" src="../assets/public/vector-11.svg" />

          <img
            class="school-boy-holding-copy-space-icon1"
            alt=""
            src="../assets/public/schoolboyholdingcopyspacenootebook-1-11@2x.png"
          />
        </div>
      </div>
      <header class="header6">
        <div class="header-content4">
          <img
            class="logo-icon4"
            loading="lazy"
            alt=""
            src="../assets/public/Logo.png"
          />

          <div class="nav-links4">
            <a class="home4" href="">Home</a>
            <a class="home4" href="#course-list-parent">Courses</a>
            <a class="home4" href="#circle-header-parent">Circles</a>
          </div>
          <div class="login-section4">
            <button class="logout" id="logout">Sign out</button>
            <img
              class="avatar-icon4"
              loading="lazy"
              alt=""
              src="../assets/public/placeholder-picture.jpg"
            />
          </div>
        </div>
      </header>
      <main class="main-content-wrapper">
        <section class="main-content">
          <div class="main-content-inner">
            <div class="welcome-message-parent">
              <div class="welcome-message">
                <div class="greeting">
                  <div class="bg50"></div>
                  <div class="hello-user1" id="hello-user">Hello, {user}!</div>
                </div>
                <h1 class="create-ai-generated-container">
                  <p class="create-ai-generated">Create AI Generated</p>
                  <p class="courses-with1">Courses with</p>
                  <p class="learntelligence7">Learntelligence</p>
                </h1>
              </div>
              <div class="learntelligence-is-an1">
                Learntelligence is an innovative platform that empowers you to
                create and access tailored, AI generated courses designed to
                meet your unique learning needs. We break down barriers and pave
                the way for your academic and professional growth.
              </div>
            </div>
          </div>
          <div class="course-list-parent" id="course-list-parent">
            <div class="course-list2">
              <div class="course-item1">
                <div class="course-header1">
                  <h1 class="your-courses">Your Courses</h1>
                </div>
                <div class="welcome-creator-here">
                  Welcome, Creator! Here, you can design and develop your own
                  unique courses. Share your expertise, create engaging content,
                  and inspire learners from around the world. Get started by
                  using our intuitive course creation tools and bring your
                  educational vision to life.
                </div>
              </div>
            </div>
            <div class="course-card1" id="course-card1">
            </div>
          </div>
          <div class="circle-header-parent" id="circle-header-parent">
            <div class="circle-header">
              <h1 class="your-circles1">Your Circles</h1>
            </div>
            <div class="circle-description">
              <div class="circle-is-a2">
                Circle is a feature for Creators to create and manage learning
                groups. With Circle, Creators can generate and distribute
                courses exclusively within their groups.
              </div>
            </div>
            <div class="join-button">
              <div class="join-circle1">Join Circle</div>
            </div>
            <div class="invitation-content-parent">
              <div class="invitation-content">
                <div class="invitation-link-container">
                  <div class="invitation-link-container-child"></div>
                  <input
                    class="invitation-link3"
                    id="invitation-link"
                    placeholder="Invitation Link"
                    type="text"
                  />
                </div>
                <span class="join-message" id="join-message"></span>
                <span class="join-success" id="join-success">Joined circle successfully</span>
                <button class="button-generate-course1">
                  <div class="bg58"></div>
                  <div class="join1" id="join-circle-button">Join</div>
                </button>
                <div class="team-section" id="team-section">
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
    </div>
    <script>
      document.addEventListener('DOMContentLoaded', () => {
        const logoutButton = document.getElementById('logout');
        const joinCircleButton = document.getElementById('join-circle-button');
        const invitationInput = document.getElementById('invitation-link');

        invitationInput.addEventListener('input', function() {
          document.getElementById('join-success').style.display = 'none';
          document.getElementById('join-message').style.display = 'none';
        })

        logoutButton.addEventListener('click', function() {
          localStorage.removeItem('keyLearntelligence');
          window.location.href = '/templates/sign-in-page.html';
        })

        joinCircleButton.addEventListener('click', function() {
          joinCircle(invitationInput.value);
        })
      })

      window.onload = function() {
        fetchUserData();
        fetchCourses();
        fetchCircles();
      }

      function joinCircle(invitationLink) {
        const keyAuth = localStorage.getItem('keyLearntelligence');
        
        fetch(invitationLink, {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
            'Authorization': "Bearer " + keyAuth
          }
        })
        .then(response => response.json())
        .then(data => {
          if (data.status == '200') {
            const message = document.getElementById('join-success');
            message.textContent = data.message;
            message.style.display = 'block';
            teamSection.innerHTML = '';
            fetchCircles();
          } else if (data.status == '404' || data.status == '500') {
            const message = document.getElementById('join-message');
            message.textContent = data.message;
            message.style.display = 'block';
          } else { // unauthorized, not logged in, user not found
            alert(data.message);
            window.location.href = '/templates/sign-in-page.html';
          }
        })
      }

      function fetchUserData() {
        const keyAuth = localStorage.getItem('keyLearntelligence');
        
        fetch('https://aff-learntelligence-be-3xei6xi65q-et.a.run.app/api/user', {
          method: 'GET',
          headers: {
            'Content-Type': 'application/json',
            'Authorization': "Bearer " + keyAuth
          }
        })
        .then(response => response.json())
        .then(data => {
          if (data.status == '200') {
            if (data.data.role == 'user') {
              window.location.href = '/templates/user-landing-page.html'
            }
            document.getElementById('hello-user').innerText = `Hello, ${data.data.name}!`
          } else if (data.status == '500') {
            alert(data.message);
          } else { // unauthorized, not logged in, user not found
            alert(data.message);
            window.location.href = '/templates/sign-in-page.html';
          }
        })
      }

      function fetchCircles() {
        const keyAuth = localStorage.getItem('keyLearntelligence');

        fetch('https://aff-learntelligence-be-3xei6xi65q-et.a.run.app/api/circles', {
          method: 'GET',
          headers: {
            'Content-Type': 'application/json',
            'Authorization': "Bearer " + keyAuth
          }
        })
        .then(response => response.json())
        .then(data => {
          if (data.status == '200') {
            fillCircles(data.data);
          } else if (data.status == '500') {
            alert(data.message);
          } else { // unauthorized, not logged in, user not found
            alert(data.message);
            window.location.href = '/templates/sign-in-page.html';
          }
        })
      }

      function fillCircles(circles) {
        const teamSection = document.getElementById('team-section');
        teamSection.innerHTML = '';

        circles.forEach(circle => {
          teamSection.appendChild(createCard(circle.circleName, circle.id, true));
        });
        teamSection.appendChild(createCard('', '', false))
        
      }

      function createCard(titleText, circleId, content) {
        const button = document.createElement('button');
        button.classList.add('circle-link');

        const card = document.createElement('div');
        card.classList.add('circle-card');

        const bgDiv = document.createElement('div');
        bgDiv.classList.add('bg28');
        card.appendChild(bgDiv);

        if (content) {
          const title = document.createElement('h3');
          title.classList.add('circle-title');
          title.textContent = titleText;

          card.appendChild(title);
        } else {
          const frame = document.createElement('div');
          frame.classList.add('badge-frame');

          const badge = document.createElement('div');
          badge.classList.add('badge2');

          const imagePlaceholder = document.createElement('img');
          imagePlaceholder.classList.add('icon2');
          imagePlaceholder.alt = '';
          imagePlaceholder.src = '../assets/public/icon.svg';

          const createText = document.createElement('div');
          createText.classList.add('create2');
          createText.innerText = 'Create';

          badge.appendChild(imagePlaceholder);
          frame.appendChild(badge);
          card.appendChild(frame);
          card.appendChild(createText);
        }

        button.appendChild(card);

        button.addEventListener('click', function() {
          if (content) {
            window.location.href = `/templates/circle-page.html?circleId=${circleId}`;
          } else {
            window.location.href = '/templates/creator-circle-creation.html';
          }
        });

        return button;
      }

      function fetchCourses() {
        const keyAuth = localStorage.getItem('keyLearntelligence');

        fetch('https://aff-learntelligence-be-3xei6xi65q-et.a.run.app/api/courses/creator', {
          method: 'GET',
          headers: {
            'Content-Type': 'application/json',
            'Authorization': "Bearer " + keyAuth
          }
        })
        .then(response => response.json())
        .then(data => {
          if (data.status == '200') {
            fillCourses(data.data);
          } else if (data.status == '500') {
            alert(data.message);
          } else { // unauthorized, not logged in, user not found
            alert(data.message);
            window.location.href = '/templates/sign-in-page.html';
          }
        })
      }

      function fillCourses(courses) {
        const courseSection = document.getElementById('course-card1');
        courseSection.innerHTML = '';

        if (courses.length > 0) {
          courses.forEach(course => {
            courseSection.appendChild(createCardCourse(course, true));
          })
        }
        courseSection.appendChild(createCardCourse('', false));
      }

      function checkModelStatus() {
        const keyAuth = localStorage.getItem('keyLearntelligence');

        fetch('https://aff-learntelligence-be-3xei6xi65q-et.a.run.app/api/courses/content-loading-status', {
          method: 'GET',
          headers: {
            'Content-Type': 'application/json',
            'Authorization': "Bearer " + keyAuth
          }
        })
        .then(response => response.json())
        .then(data => {
          if (data.status == '200') {
            if (data.data.generating) {
              alert('Server is busy, please try again in a few minutes. Model can only generate 1 course at a time.')
            } else {
              window.location.href = '/templates/creator-course-creation.html';
            }
          } else if (data.status == '500') {
            alert(data.message);
          } else if (data.status == '400') {
            alert(data.message);
          } else { // unauthorized, not logged in, user not found
            alert(data.message);
            window.location.href = '/templates/sign-in-page.html';
          }
        })
      }

      function createCardCourse(course, content) {
        const parent = document.createElement('div');
        if (content) {
          parent.classList.add('card-content');
        } else {
          parent.classList.add('card-content-new')
        }
        
        const bg = document.createElement('div');
        bg.classList.add('bg51');
        parent.appendChild(bg);

        const details = document.createElement('div');
        details.classList.add('card-details');

        const badge = document.createElement('div');
        badge.classList.add('card-badge');

        if (content) {
          const title = document.createElement('h3');
          title.classList.add('java-basics2');
          if (course.name.length > 25) {
            title.textContent = `${course.name.slice(0, 25)}...`;
          } else {
            title.textContent = course.name;
          }
          badge.appendChild(title);
          details.appendChild(badge);
  
          const desc = document.createElement('div');
          let description = ''
          desc.classList.add('java-basics-is2');
          if (course.description.length > 65) {
            description = `${course.description.slice(0, 65)}...`;
          } else {
            description = course.description;
          }
          if (course.onContentLoading) {
            parent.style.backgroundColor = '#c5c6c7';
            parent.classList.add('card-not-allowed');
            desc.innerHTML = description + '<br><br><strong>Generating content...<br>May take 5-15 minutes<strong>';
          } else {
            desc.innerText = description;
          }

          details.appendChild(desc);
        } else {
          const title = document.createElement('h3');
          title.classList.add('java-basics2');
          title.textContent = 'Create New';
          badge.appendChild(title);

          const icon = document.createElement('img');
          icon.classList.add('icon1');
          icon.setAttribute('loading', 'lazy');
          icon.alt = '';
          icon.src = '../assets/public/icon.svg';
          badge.appendChild(icon)

          details.appendChild(badge);
        }
      
        parent.appendChild(details);

        if (!course.onContentLoading && content) {
          const actions = document.createElement('div');
          actions.classList.add('card-actions');
          const buttons = document.createElement('div');
          buttons.classList.add('action-buttons1');
  
          const viewButton = document.createElement('button');
          viewButton.classList.add('button-preview2');
          viewButton.innerHTML = `<div class="bg52"></div><div class="edit1">Preview/Edit</div>`
          buttons.appendChild(viewButton);
  
          const shareButton = document.createElement('button');
          shareButton.classList.add('button-preview3');
          shareButton.innerHTML = `<div class="bg53"></div><div class="share">Share</div>`;
          buttons.appendChild(shareButton);
  
          const deleteButton = document.createElement('button');
          deleteButton.classList.add('button-delete1');
          deleteButton.innerHTML = `<div class="bg54"></div><div class="delete1">Delete</div>`;
          buttons.appendChild(deleteButton);

          viewButton.addEventListener('click', function() {
            window.location.href = `/templates/user-learn-material.html?courseId=${course.id}&cr=true`;
          })

          shareButton.addEventListener('click', function() {
            window.location.href = `/templates/creator-circle-share.html?courseId=${course.id}`;
          })

          deleteButton.addEventListener('click', function() {
            if (confirm(`Are you sure you want to delete ${course.name} course?`)) {
              const keyAuth = localStorage.getItem('keyLearntelligence');
  
              fetch(`https://aff-learntelligence-be-3xei6xi65q-et.a.run.app/api/courses/${course.id}`, {
                method: 'DELETE',
                headers: {
                  'Content-Type': 'application/json',
                  'Authorization': "Bearer " + keyAuth
                }
              })
              .then(response => response.json())
              .then(data => {
                if (data.status == '200') {
                  fetchCourses();
                } else if (data.status == '404' || data.status == '500') {
                  alert(data.message);
                } else { // unauthorized, not logged in, user not found
                  alert(data.message);
                  window.location.href = '/templates/sign-in-page.html';
                }
              })
            }
          })
  
          actions.appendChild(buttons);
          parent.appendChild(actions);
        }

        if (!content) {
          parent.style.cursor = 'pointer';
          parent.addEventListener('mouseover', function() {
            this.classList.add('card-hover');
          });

          parent.addEventListener('mouseout', function() {
            this.classList.remove('card-hover');
          });

          parent.addEventListener('click', function() {
            checkModelStatus();
          })
        }
        return parent;
      }
    </script>
  </body>
</html>
