<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="../assets/css/creator-circle-page.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Open Sans:wght@400;600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500;600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Archivo:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Nunito Sans:wght@700&display=swap"
    />

    <style>
      @font-face {
        font-family: "Font Awesome 5 Free";
        src: url("../assets/public/Font Awesome 5 Free-Regular-400.otf");
        font-weight: 400;
      }
    </style>
  </head>
  <body>
    <div class="creator-circle-page">
      <header class="header4">
        <div class="header-content3">
          <img
            class="logo-icon3"
            loading="lazy"
            alt=""
            src="../assets/public/logo.svg"
          />

          <div class="nav-links3">
            <a class="home3">Home</a>
          </div>
          <div class="login-section3">
            <img
              class="avatar-icon3"
              loading="lazy"
              alt=""
              src="../assets/public/avatar@2x.png"
            />
          </div>
        </div>
      </header>
      <main class="content-description-wrapper">
        <section class="content-description1">
          <div class="bg33">
            <div class="bg34"></div>
            <a class="circle2">Circle</a>
            <div class="circle-name-wrapper">
              <h1 class="circle-name1">{circle_name}</h1>
            </div>
          </div>
          <div class="invitation-details">
            <div class="description-parent">
              <h2 class="description2">Description</h2>
              <div class="description3">{description}</div>
            </div>
          </div>
          <div class="invitation-details1">
            <div class="invitation-link-group">
              <h2 class="invitation-link2">Invitation Link</h2>
              <div class="httpsfahmisabilacom1">https://fahmisabila.com</div>
            </div>
          </div>
          <div class="courses-header-wrapper">
            <div class="courses-header">
              <h2 class="courses1">Courses</h2>
              <div class="course-list1">
                <div class="java-course">
                  <div class="java-course-details">
                    <div class="bg35"></div>
                    <div class="java-course-content">
                      <div class="java-badge">
                        <h3 class="java-basics1">Java Basics</h3>
                      </div>
                      <div class="java-basics-is1">
                        Java Basics is a foundational concept about java
                        language programming
                      </div>
                    </div>
                    <div class="course-actions">
                      <div class="action-buttons">
                        <button class="button-preview1">
                          <div class="bg36"></div>
                          <div class="edit-preview">Edit & Preview</div>
                        </button>
                        <div class="button-delete">
                          <div class="bg37"></div>
                          <div class="delete">Delete</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="java-course-details1">
                    <div class="bg38"></div>
                    <div class="badge-wrapper">
                      <div class="badge">
                        <img
                          class="icon"
                          loading="lazy"
                          alt=""
                          src="../assets/public/icon.svg"
                        />
                      </div>
                    </div>
                    <div class="create">Create</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="members-header-wrapper">
            <div class="members-header">
              <h2 class="members1">Members</h2>
              <div class="member-list1">
                <div class="parent">
                  <div class="div23">
                    <div class="bg39"></div>
                    <img
                      class="image-icon9"
                      loading="lazy"
                      alt=""
                      src="../assets/public/image@2x.png"
                    />

                    <div class="inner2">
                      <div class="yoga-parent">
                        <h3 class="yoga1">Yoga</h3>
                        <div class="creator1">Creator</div>
                      </div>
                    </div>
                  </div>
                  <div class="div24">
                    <div class="bg40"></div>
                    <img
                      class="image-icon10"
                      alt=""
                      src="../assets/public/image-1@2x.png"
                    />

                    <div class="inner3">
                      <div class="andrew-group">
                        <h3 class="andrew1">Andrew</h3>
                        <div class="user7">User</div>
                      </div>
                    </div>
                  </div>
                  <div class="div25">
                    <div class="bg41"></div>
                    <img
                      class="image-icon11"
                      alt=""
                      src="../assets/public/image-2@2x.png"
                    />

                    <div class="inner4">
                      <div class="fahmi-group">
                        <h3 class="fahmi1">Fahmi</h3>
                        <div class="user8">User</div>
                      </div>
                    </div>
                  </div>
                  <div class="div26">
                    <div class="bg42"></div>
                    <img
                      class="image-icon12"
                      alt=""
                      src="../assets/public/image-3@2x.png"
                    />

                    <div class="inner5">
                      <div class="sabila-group">
                        <h3 class="sabila1">Sabila</h3>
                        <div class="user9">User</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="frame-parent17">
                  <div class="bambang-group">
                    <h3 class="bambang1">Bambang</h3>
                    <div class="bottom-image">
                      <div class="bg43"></div>
                      <img
                        class="image-icon13"
                        alt=""
                        src="../assets/public/image-4@2x.png"
                      />
                    </div>
                    <div class="bottom-user">
                      <div class="user10">User</div>
                    </div>
                  </div>
                  <div class="div27">
                    <div class="bg44"></div>
                    <img
                      class="image-icon14"
                      alt=""
                      src="../assets/public/image-1@2x.png"
                    />

                    <div class="inner6">
                      <div class="rommy-group">
                        <h3 class="rommy1">Rommy</h3>
                        <div class="user-wrapper1">
                          <div class="user11">User</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="div28">
                    <div class="bg45"></div>
                    <img
                      class="image-icon15"
                      alt=""
                      src="../assets/public/image-2@2x.png"
                    />

                    <div class="inner7">
                      <div class="ilyasa-group">
                        <h3 class="ilyasa1">Ilyasa</h3>
                        <div class="user-wrapper2">
                          <div class="user12">User</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="div29">
                    <div class="bg46"></div>
                    <img
                      class="image-icon16"
                      alt=""
                      src="../assets/public/image-3@2x.png"
                    />

                    <div class="inner8">
                      <div class="gunawan-group">
                        <h3 class="gunawan1">Gunawan</h3>
                        <div class="user-wrapper3">
                          <div class="user13">User</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
    </div>
  </body>
</html>
