<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="../assets/css/creator-landing-page.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Open Sans:wght@400;600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500;600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Archivo:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Nunito Sans:wght@700&display=swap"
    />

    <style>
      @font-face {
        font-family: "Font Awesome 5 Free";
        src: url("../assets/public/Font Awesome 5 Free-Regular-400.otf");
        font-weight: 400;
      }
    </style>
  </head>
  <body>
    <div class="creator-landing-page">
      <div class="wrapper-bg-group">
        <div class="wrapper-bg1">
          <img class="bg-icon1" alt="" src="../assets/public/bg1.svg" />
        </div>
        <div class="image2">
          <img class="image-item" alt="" src="../assets/public/vector-11.svg" />

          <img
            class="school-boy-holding-copy-space-icon1"
            alt=""
            src="../assets/public/schoolboyholdingcopyspacenootebook-1-11@2x.png"
          />
        </div>
      </div>
      <header class="header6">
        <div class="header-content4">
          <img
            class="logo-icon4"
            loading="lazy"
            alt=""
            src="../assets/public/logo.svg"
          />

          <div class="nav-links4">
            <a class="home4">Home</a>
          </div>
          <div class="login-section4">
            <img
              class="avatar-icon4"
              loading="lazy"
              alt=""
              src="../assets/public/avatar@2x.png"
            />
          </div>
        </div>
      </header>
      <main class="main-content-wrapper">
        <section class="main-content">
          <div class="main-content-inner">
            <div class="welcome-message-parent">
              <div class="welcome-message">
                <div class="greeting">
                  <div class="bg50"></div>
                  <div class="hello-user1">Hello, {user}!</div>
                </div>
                <h1 class="create-ai-generated-container">
                  <p class="create-ai-generated">Create AI Generated</p>
                  <p class="courses-with1">Courses with</p>
                  <p class="learntelligence7">Learntelligence</p>
                </h1>
              </div>
              <div class="learntelligence-is-an1">
                Learntelligence is an innovative platform that empowers you to
                create and access tailored, AI generated courses designed to
                meet your unique learning needs. We break down barriers and pave
                the way for your academic and professional growth.
              </div>
            </div>
          </div>
          <div class="course-list-parent">
            <div class="course-list2">
              <div class="course-item1">
                <div class="course-header1">
                  <h1 class="your-courses">Your Courses</h1>
                </div>
                <div class="welcome-creator-here">
                  Welcome, Creator! Here, you can design and develop your own
                  unique courses. Share your expertise, create engaging content,
                  and inspire learners from around the world. Get started by
                  using our intuitive course creation tools and bring your
                  educational vision to life.
                </div>
              </div>
            </div>
            <div class="course-card1">
              <div class="card-content">
                <div class="bg51"></div>
                <div class="card-details">
                  <div class="card-badge">
                    <h3 class="java-basics2">Java Basics</h3>
                  </div>
                  <div class="java-basics-is2">
                    Java Basics is a foundational concept about java language
                    programming
                  </div>
                </div>
                <div class="card-actions">
                  <div class="action-buttons1">
                    <button class="button-preview2">
                      <div class="bg52"></div>
                      <div class="edit1">Edit</div>
                    </button>
                    <button class="button-preview3">
                      <div class="bg53"></div>
                      <div class="share">Share</div>
                    </button>
                    <div class="button-delete1">
                      <div class="bg54"></div>
                      <div class="delete1">Delete</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-content1">
                <div class="bg55"></div>
                <div class="badge-container">
                  <div class="badge1">
                    <img
                      class="icon1"
                      loading="lazy"
                      alt=""
                      src="../assets/public/icon.svg"
                    />
                  </div>
                </div>
                <div class="create1">Create</div>
              </div>
            </div>
          </div>
          <div class="circle-header-parent">
            <div class="circle-header">
              <h1 class="your-circles1">Your Circles</h1>
            </div>
            <div class="circle-description">
              <div class="circle-is-a2">
                Circle is a feature for Creators to create and manage learning
                groups. With Circle, Creators can generate and distribute
                courses exclusively within their groups.
              </div>
            </div>
            <div class="join-button">
              <div class="join-circle1">Join Circle</div>
            </div>
            <div class="invitation-content-parent">
              <div class="invitation-content">
                <div class="invitation-link-container">
                  <div class="invitation-link-container-child"></div>
                  <input
                    class="invitation-link3"
                    placeholder="Invitation Link"
                    type="text"
                  />
                </div>
                <div class="circle-card">
                  <div class="card-data">
                    <div class="bg56"></div>
                    <h3 class="marketing-team2">Marketing Team</h3>
                  </div>
                  <div class="card-data1">
                    <div class="bg57"></div>
                    <div class="badge-frame">
                      <div class="badge2">
                        <img class="icon2" alt="" src="../assets/public/icon.svg" />
                      </div>
                    </div>
                    <div class="create2">Create</div>
                  </div>
                </div>
              </div>
              <button class="button-generate-course1">
                <div class="bg58"></div>
                <div class="join1">Join</div>
              </button>
            </div>
          </div>
        </section>
      </main>
    </div>
  </body>
</html>
