<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="../assets/css/creator-edit-quiz.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Open Sans:wght@400;600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500;600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Archivo:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Nunito Sans:wght@700&display=swap"
    />

    <style>
      @font-face {
        font-family: "Font Awesome 5 Free";
        src: url("../assets/public/Font Awesome 5 Free-Regular-400.otf");
        font-weight: 400;
      }
    </style>
  </head>
  <body>
    <div class="creator-edit-quiz">
      <div class="chapter-structure-wrapper">
        <div class="chapter-structure">
          <div class="chapter-quiz">
            <div class="curriculum-container">
              <h2 class="curriculum3">Curriculum</h2>
            </div>
            <div class="chapter-13">
              <div class="chapter-1-child1"></div>
              <div class="quiz-content">
                <div class="div18"></div>
              </div>
              <div class="chapter-013">Chapter 01 : Introduction about XD</div>
            </div>
            <div class="chapter-list">
              <div class="chapter-1-quiz2">
                <div class="chapter-1-quiz-inner"></div>
                <div class="div19"></div>
                <div class="quiz3">Quiz</div>
              </div>
            </div>
            <div class="chapter-23">
              <div class="chapter-2-child1"></div>
              <div class="wrapper8">
                <div class="div20"></div>
              </div>
              <div class="chapter-2-basic3">Chapter 2: Basic Syntax</div>
            </div>
            <div class="chapter-33">
              <div class="chapter-3-child1"></div>
              <div class="wrapper9">
                <div class="div21"></div>
              </div>
              <div class="chapter-3-implementation3">
                Chapter 3: Implementation
              </div>
            </div>
            <div class="chapter-43">
              <div class="chapter-4-child1"></div>
              <div class="wrapper10">
                <div class="div22"></div>
              </div>
              <div class="chapter-4-maintaining3">
                Chapter 4: Maintaining the Code
              </div>
            </div>
          </div>
          <div class="button-save-wrapper">
            <button class="button-save">
              <div class="bg31"></div>
              <a class="preview1">Preview</a>
            </button>
          </div>
        </div>
      </div>
      <section class="content-header-group">
        <header class="content-header3">
          <div class="content-header-child1"></div>
          <h1 class="chapter-01-introduction2">
            Chapter 01: Introduction about XD
          </h1>
        </header>
        <div class="content5">
          <div class="rectangle1"></div>
          <div class="question-1">
            <div class="question-1-child"></div>
            <div class="frame-parent11">
              <div class="which-of-the-following-is-a-mu-wrapper">
                <div class="which-of-the1">
                  Which of the following is a mutable data type in Python?
                </div>
              </div>
              <img
                class="cross-icon"
                loading="lazy"
                alt=""
                src="../assets/public/cross.svg"
              />
            </div>
            <div class="question-1-inner">
              <div class="frame-parent12">
                <div class="rectangle-parent9">
                  <div class="frame-child11"></div>
                  <div class="tuple">Tuple</div>
                </div>
                <div class="string-answer">
                  <div class="string-answer-child"></div>
                  <input class="string" placeholder="String" type="text" />
                </div>
                <div class="list-answer">
                  <div class="list-answer-child"></div>
                  <input class="list" placeholder="List" type="text" />
                </div>
                <div class="integer-answer">
                  <div class="integer-answer-child"></div>
                  <input class="integer" placeholder="Integer" type="text" />
                </div>
              </div>
            </div>
          </div>
          <div class="question-2">
            <div class="question-2-child"></div>
            <div class="frame-parent13">
              <div class="which-of-the-following-is-a-mu-container">
                <div class="which-of-the2">
                  Which of the following is a mutable data type in Python?
                </div>
              </div>
              <img
                class="cross-icon1"
                loading="lazy"
                alt=""
                src="../assets/public/cross.svg"
              />
            </div>
            <div class="question-2-inner">
              <div class="frame-parent14">
                <div class="rectangle-parent10">
                  <div class="frame-child12"></div>
                  <div class="tuple1">Tuple</div>
                </div>
                <div class="rectangle-parent11">
                  <div class="frame-child13"></div>
                  <input class="string1" placeholder="String" type="text" />
                </div>
                <div class="rectangle-parent12">
                  <div class="frame-child14"></div>
                  <input class="list1" placeholder="List" type="text" />
                </div>
                <div class="rectangle-parent13">
                  <div class="frame-child15"></div>
                  <input class="integer1" placeholder="Integer" type="text" />
                </div>
              </div>
            </div>
          </div>
          <div class="question-3">
            <div class="question-3-child"></div>
            <div class="frame-parent15">
              <div class="which-of-the-following-is-a-mu-frame">
                <div class="which-of-the3">
                  Which of the following is a mutable data type in Python?
                </div>
              </div>
              <img
                class="cross-icon2"
                loading="lazy"
                alt=""
                src="../assets/public/cross.svg"
              />
            </div>
            <div class="question-3-inner">
              <div class="frame-parent16">
                <div class="rectangle-parent14">
                  <div class="frame-child16"></div>
                  <div class="tuple2">Tuple</div>
                </div>
                <div class="rectangle-parent15">
                  <div class="frame-child17"></div>
                  <input class="string2" placeholder="String" type="text" />
                </div>
                <div class="rectangle-parent16">
                  <div class="frame-child18"></div>
                  <input class="list2" placeholder="List" type="text" />
                </div>
                <div class="rectangle-parent17">
                  <div class="frame-child19"></div>
                  <input class="integer2" placeholder="Integer" type="text" />
                </div>
              </div>
            </div>
          </div>
          <form class="individual-question">
            <div class="question-4">
              <div class="question-4-child"></div>
              <div class="question-with-cross">
                <div class="which-of-the-following-is-a-mu-wrapper1">
                  <div class="which-of-the4">
                    Which of the following is a mutable data type in Python?
                  </div>
                </div>
                <img
                  class="cross-icon3"
                  loading="lazy"
                  alt=""
                  src="../assets/public/cross.svg"
                />
              </div>
              <div class="answer-options1">
                <div class="answer-values">
                  <div class="answer-list">
                    <div class="answer-list-child"></div>
                    <div class="tuple3">Tuple</div>
                  </div>
                  <div class="answer-list1">
                    <div class="answer-list-item"></div>
                    <input class="string3" placeholder="String" type="text" />
                  </div>
                  <div class="answer-list2">
                    <div class="answer-list-inner"></div>
                    <input class="list3" placeholder="List" type="text" />
                  </div>
                  <div class="answer-list3">
                    <div class="answer-list-child1"></div>
                    <input class="integer3" placeholder="Integer" type="text" />
                  </div>
                </div>
              </div>
            </div>
            <div class="button-wrapper1">
              <button class="button7">
                <div class="bg32"></div>
                <div class="add-question">Add Question</div>
              </button>
            </div>
          </form>
        </div>
      </section>
    </div>
  </body>
</html>
