<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="../assets/css/creator-course-creation.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Open Sans:wght@400;600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500;600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Archivo:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Nunito Sans:wght@700&display=swap"
    />

    <style>
      @font-face {
        font-family: "Font Awesome 5 Free";
        src: url("../assets/public/Font Awesome 5 Free-Regular-400.otf");
        font-weight: 400;
      }
    </style>
  </head>
  <body>
    <form>
    <div class="creator-course-creation">
      <header class="content-header6">
        <div class="content-header-child4"></div>
        <h1 class="create-your-own">Create your own Course</h1>
      </header>
      <main class="content9">
        <section class="rectangle3"></section>
        <section class="course-description1">
          <h2 class="create-new-course">Create new course</h2>
          <div class="lorem-ipsum-dolor13">
            Create and customize your course effortlessly with our AI-powered tools that simplify the content creation process. Simply provide the necessary course details, and our platform will automatically generate a tailored outline and course for you! Focus on delivering an engaging and high-quality educational experience to your learners.
          </div>
        </section>
        <section class="course-details">
          <div class="course-details-child"></div>
          <div class="name-example">
            <div class="name-description">
              <div class="course-name">Course Name</div>
            </div>
            <div class="example-description">
              <div class="example-description-child"></div>
              <input
                class="example-python-programming"
                id="name-input"
                placeholder="Example: Python Programming Basics"
                type="text"
                required
              />
            </div>
          </div>
          <div class="name-example1">
            <div class="course-description-wrapper">
              <div class="course-description2">Course Description</div>
            </div>
            <div class="rectangle-parent18">
              <div class="frame-child20"></div>
              <input
                class="example-python-programming1"
                id="description-input"
                placeholder="Example: Python Programming Basics is a foundational concept about...."
                type="text"
                required
              />
            </div>
          </div>
          <div class="chapters-inner">
            <div class="outline-parent">
              <div class="outline">Language</div>
              <div class="generate-buttons">
                <button class="button9" type="button" id="en">
                  <div class="bg60"></div>
                  <div class="add-chapters-manually">
                    English
                  </div>
                </button>
                <button class="button8" type="button" id="id">
                  <div class="bg59"></div>
                  <div class="generate-chapters">Indonesia</div>
                </button>
              </div>
            </div>
          </div>
        </section>
        <section class="sources">
          <h2 class="add-sources-optional">Add Sources (Under Development)</h2>
          <div class="source-types">
            <div class="source-types-child"></div>
            <div class="youtube-example">
              <div class="link-example">
                <div class="youtube-link">Youtube Link (Max 1)</div>
              </div>
              <div class="link-description">
                <div class="link-description-child"></div>
                <input
                  class="example-python-programming2"
                  id="youtube-link-input"
                  placeholder="Example: Python Programming Basics"
                  type="text"
                  disabled
                />
              </div>
            </div>
            <div class="file-upload">
              <div class="upload-button">
                <div class="file-upload-pdf">PDF File Upload (Max 1)</div>
              </div>
              <div class="upload-instance">
                <div class="upload-instance-container">
                  <input type="file" id="file-upload-input" disabled/>
                </div>
              </div>
              <span class="file-error-message" id="file-error-message">File is not in PDF format. Please select another file.</span>
            </div>
          </div>
        </section>
        <section class="set-outline-parent">
          <h2 class="set-outline">Set Outline</h2>
          <div class="chapters-parent">
            <div class="chapters">
              <div class="chapters-child"></div>
              <div class="length-dropdown-wrapper">
                <div class="length-dropdown">
                  <div class="course-length">Course Length</div>
                  <div class="rectangle-parent19">
                    <div class="frame-child21"></div>
                    <div class="introduction-chapters">
                      <select id="level" class="introduction-5-chapters">
                        <option value="5">Introduction (5 chapters)</option>
                        <option value="10">Intermediate (10 chapters)</option>
                        <option value="15">Advanced (15 chapters)</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="chapters-inner">
                <div class="outline-parent">
                  <div class="outline">Outline</div>
                  <div class="generate-buttons">
                    <button class="button9" type="button" id="chapter-manual">
                      <div class="bg60"></div>
                      <div class="add-chapters-manually">
                        Add Chapters Manually
                      </div>
                    </button>
                    <button class="button8" type="button" id="chapter-generate">
                      <div class="bg59"></div>
                      <div class="generate-chapters">Generate Chapters</div>
                    </button>
                  </div>
                </div>
              </div>
              <div class="chapter-headers">
                <div class="chapter-examples">
                  <div class="chapter-label">
                    <div class="chapter-15">Chapter 1</div>
                  </div>
                  <div class="chapter-example-labels">
                    <div class="chapter-example-labels-child"></div>
                    <input
                      class="example-introduction-to"
                      id="chapter-input-1"
                      placeholder="Example: Introduction to Python"
                      type="text"
                      required
                    />
                  </div>
                </div>
              </div>
              <div class="chapter-headers1">
                <div class="frame-parent18">
                  <div class="chapter-2-wrapper">
                    <div class="chapter-25">Chapter 2</div>
                  </div>
                  <div class="rectangle-parent20">
                    <div class="frame-child22"></div>
                    <input
                      class="example-variables-and"
                      id="chapter-input-2"
                      placeholder="Example: Variables and Data Types"
                      type="text"
                      required
                    />
                  </div>
                </div>
              </div>
              <div class="chapter-headers2">
                <div class="frame-parent19">
                  <div class="chapter-3-wrapper">
                    <div class="chapter-35">Chapter 3</div>
                  </div>
                  <div class="rectangle-parent21">
                    <div class="frame-child23"></div>
                    <input
                      class="example-control-flow"
                      id='chapter-input-3'
                      placeholder="Example: Control Flow"
                      type="text"
                      required
                    />
                  </div>
                </div>
              </div>
              <div class="chapter-headers3">
                <div class="frame-parent20">
                  <div class="chapter-4-wrapper">
                    <div class="chapter-45">Chapter 4</div>
                  </div>
                  <div class="rectangle-parent22">
                    <div class="frame-child24"></div>
                    <input
                      class="example-functions"
                      id='chapter-input-4'
                      placeholder="Example: Functions"
                      type="text"
                      required
                    />
                  </div>
                </div>
              </div>
              <div class="chapter-name">
                <div class="chapter-name-label">
                  <div class="chapter-class">Chapter 5</div>
                </div>
                <div class="chapter-name-example">
                  <div class="chapter-name-example-child"></div>
                  <input
                    class="example-basic-data"
                    id='chapter-input-5'
                    placeholder="Example: Basic Data Structures"
                    type="text"
                    required
                  />
                </div>
              </div>
              <div class="chapter-name" id="chapter-6">
                <div class="chapter-name-label">
                  <div class="chapter-class">Chapter 6</div>
                </div>
                <div class="chapter-name-example">
                  <div class="chapter-name-example-child"></div>
                  <input
                    class="example-basic-data"
                    id='chapter-input-6'
                    placeholder="Chapter Title"
                    type="text"
                  />
                </div>
              </div>
              <div class="chapter-name" id="chapter-7">
                <div class="chapter-name-label">
                  <div class="chapter-class">Chapter 7</div>
                </div>
                <div class="chapter-name-example">
                  <div class="chapter-name-example-child"></div>
                  <input
                    class="example-basic-data"
                    id='chapter-input-7'
                    placeholder="Chapter Title"
                    type="text"
                  />
                </div>
                <div class="chapter-name" id="chapter-8">
                  <div class="chapter-name-label">
                    <div class="chapter-class">Chapter 8</div>
                  </div>
                  <div class="chapter-name-example">
                    <div class="chapter-name-example-child"></div>
                    <input
                      class="example-basic-data"
                      id='chapter-input-8'
                      placeholder="Chapter Title"
                      type="text"
                    />
                  </div>
                </div>
              </div>
              <div class="chapter-name" id="chapter-9">
                <div class="chapter-name-label">
                  <div class="chapter-class">Chapter 9</div>
                </div>
                <div class="chapter-name-example">
                  <div class="chapter-name-example-child"></div>
                  <input
                    class="example-basic-data"
                    id='chapter-input-9'
                    placeholder="Chapter Title"
                    type="text"
                  />
                </div>
              </div>
              <div class="chapter-name" id="chapter-10">
                <div class="chapter-name-label">
                  <div class="chapter-class">Chapter 10</div>
                </div>
                <div class="chapter-name-example">
                  <div class="chapter-name-example-child"></div>
                  <input
                    class="example-basic-data"
                    id='chapter-input-10'
                    placeholder="Chapter Title"
                    type="text"
                  />
                </div>
              </div>
              <div class="chapter-name" id="chapter-11">
                <div class="chapter-name-label">
                  <div class="chapter-class">Chapter 11</div>
                </div>
                <div class="chapter-name-example">
                  <div class="chapter-name-example-child"></div>
                  <input
                    class="example-basic-data"
                    id='chapter-input-11'
                    placeholder="Chapter Title"
                    type="text"
                  />
                </div>
              </div>
              <div class="chapter-name" id="chapter-12">
                <div class="chapter-name-label">
                  <div class="chapter-class">Chapter 12</div>
                </div>
                <div class="chapter-name-example">
                  <div class="chapter-name-example-child"></div>
                  <input
                    class="example-basic-data"
                    id='chapter-input-12'
                    placeholder="Chapter Title"
                    type="text"
                  />
                </div>
              </div>
              <div class="chapter-name" id="chapter-13">
                <div class="chapter-name-label">
                  <div class="chapter-class">Chapter 13</div>
                </div>
                <div class="chapter-name-example">
                  <div class="chapter-name-example-child"></div>
                  <input
                    class="example-basic-data"
                    id='chapter-input-13'
                    placeholder="Chapter Title"
                    type="text"
                  />
                </div>
              </div>
              <div class="chapter-name" id="chapter-14">
                <div class="chapter-name-label">
                  <div class="chapter-class">Chapter 14</div>
                </div>
                <div class="chapter-name-example">
                  <div class="chapter-name-example-child"></div>
                  <input
                    class="example-basic-data"
                    id='chapter-input-14'
                    placeholder="Chapter Title"
                    type="text"
                  />
                </div>
              </div>
              <div class="chapter-name" id="chapter-15">
                <div class="chapter-name-label">
                  <div class="chapter-class">Chapter 15</div>
                </div>
                <div class="chapter-name-example">
                  <div class="chapter-name-example-child"></div>
                  <input
                    class="example-basic-data"
                    id='chapter-input-15'
                    placeholder="Chapter Title"
                    type="text"
                  />
                </div>
              </div>
            </div>
            <div class="generate-course-button">
              <button class="button-generate-course2" id="generate-button" type="submit">
                <div class="bg61"></div>
                <div class="generate-course">Generate Course</div>
              </button>
            </div>
          </div>
        </section>
      </main>
    </div>
    </form>
    <script>
      window.onload = function() {
        fetchUserData();
        toggleChapters(5);
      }

      function fetchUserData() {
        const keyAuth = localStorage.getItem('keyLearntelligence');
        
        fetch('https://aff-learntelligence-be-3xei6xi65q-et.a.run.app/api/user', {
          method: 'GET',
          headers: {
            'Content-Type': 'application/json',
            'Authorization': "Bearer " + keyAuth
          }
        })
        .then(response => response.json())
        .then(data => {
          if (data.status == '200') {
            if (data.data.role == 'user') {
              window.location.href = `/templates/${data.data.role}-landing-page.html`
            }
          } else if (data.status == '500') {
            alert(data.message);
          } else { // unauthorized, not logged in, user not found
            alert(data.message);
            window.location.href = '/templates/sign-in-page.html';
          }
        })
      }

      document.addEventListener('DOMContentLoaded', function() {
        const generateButton = document.getElementById('generate-button');
        const levelElement = document.getElementById('level');
        const manualChapter = document.getElementById('chapter-manual');
        const generateChapter = document.getElementById('chapter-generate');
        const fileInput = document.getElementById('file-upload-input');
        const enButton = document.getElementById('en');
        const idButton = document.getElementById('id');
        var lang = 'en';
        var fileUrl = '';
        var isGenerate = false;

        manualChapter.addEventListener('click', function() {
          const courseTitle = document.getElementById('name-input').value;
          const courseLength = levelElement.value;
          this.style.backgroundColor = 'rgba(12, 33, 193, 0.1)';
          generateChapter.style.backgroundColor = 'transparent';
          isGenerate = false;
          toggleFillChapters(courseTitle, courseLength, isGenerate, lang);
        })

        generateChapter.addEventListener('click' , function() {
          const courseTitle = document.getElementById('name-input').value;
          const courseLength = levelElement.value;
          this.style.backgroundColor = 'rgba(12, 33, 193, 0.1)';
          manualChapter.style.backgroundColor = 'transparent'
          isGenerate = true;
          toggleFillChapters(courseTitle, courseLength, isGenerate, lang);
        })

        enButton.addEventListener('click', function() {
          this.style.backgroundColor = 'rgba(12, 33, 193, 0.1)';
          idButton.style.backgroundColor = 'transparent';
          lang = 'en';
        })

        idButton.addEventListener('click', function() {
          this.style.backgroundColor = 'rgba(12, 33, 193, 0.1)';
          enButton.style.backgroundColor = 'transparent';
          lang = 'id';
        })

        fileInput.addEventListener('change', function() {
          selectedFile = fileInput.files[0];
          document.getElementById('file-error-message').style.display = 'none';

          uploadFile(selectedFile).then(url => {
            fileUrl = url;
          }).catch(error => {
            alert('Error during file upload');
          });
        })

        levelElement.addEventListener('change', function() { 
          const courseTitle = document.getElementById('name-input').value;
          const courseLength = levelElement.value;
          toggleChapters(this.value) 
          toggleFillChapters(courseTitle, courseLength, isGenerate, lang)
        })

        generateButton.addEventListener('click', function() {
          const pdfUrls = fileUrl ? [fileUrl] : [];
          const youtubeLink = document.getElementById('youtube-link-input').value; 
          const youtubeUrls = youtubeLink ? [youtubeLink] : [];
          const courseLength = levelElement.value;
          const content = [];
          for (let chapter = 1; chapter <= courseLength; chapter++) {
            const title = document.getElementById('chapter-input-' + chapter).value;
            content.push({
              'chapter': chapter,
              'title': title
            })
          }

          const data = {
            'name': document.getElementById('name-input').value,
            'description': document.getElementById('description-input').value,
            'lang': lang,
            'pdfUrls': pdfUrls,
            'youtubeUrls': youtubeUrls,
            'content': content
          }

          submitForm(data);
        })
      })

      function toggleChapters(level) {
        for (let i = 6; i <= 15; i++) {
          const chapter = document.getElementById('chapter-' + i);
          document.getElementById('chapter-' + i).style.display = 'none';
          document.getElementById('chapter-input-' + i).required = false;
        }

        for (let i = 6; i <= level; i++) {
          document.getElementById('chapter-' + i).style.display = 'block';
          document.getElementById('chapter-input-' + i).required = true;
        }
      }

      function uploadFile(selectedFile) {
        return new Promise((resolve, reject) => {
        if (selectedFile.type === 'application/pdf') {
            const keyAuth = localStorage.getItem('keyLearntelligence');
            const data = new FormData();
            data.append('file', selectedFile, selectedFile.name);

            fetch('https://aff-learntelligence-be-3xei6xi65q-et.a.run.app/api/courses/pdf', {
              method: 'POST',
              headers: {
                'Authorization': "Bearer " + keyAuth
              },
              body: data
            })
            .then(response => response.json())
            .then(data => {
              if (data.status == '200') {
                resolve(data.url);
              } else if (data.status == '500') {
                alert(data.message);
                resolve(''); 
              } else if (data.status == '400') {
                alert(data.message);
                resolve(''); 
              } else { // unauthorized, not logged in, user not found
                alert(data.message);
                window.location.href = '/templates/sign-in-page.html';
              }
            })
            .catch(error => {
              console.error('Upload failed:', error);
              alert('Upload failed');
              reject(error);
            });
          } else {
            document.getElementById('file-error-message').style.display = 'block';
            fileInput.value = '';
            reject(new Error('File is not a PDF'));
          }
        });
      }

      function toggleFillChapters(courseTitle, courseLength, isGenerate, lang) {
        if (isGenerate) {
          for (let i = 1; i <= courseLength; i++) {
            document.getElementById('chapter-input-' + i).value = 'Loading...'
          }

          const keyAuth = localStorage.getItem('keyLearntelligence');

          const data = {
            'title': courseTitle,
            'length': courseLength,
            'lang': lang
          }

          fetch('https://aff-learntelligence-be-3xei6xi65q-et.a.run.app/api/chapters/generate', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
              'Authorization': "Bearer " + keyAuth
            },
            body: JSON.stringify(data)
          })
          .then(response => response.json()
          .then(data => {
            if (data.status == '200') {
              const chapters = data.data.data;
              if (Array.isArray(chapters)) {
                chapters.forEach(chapter => {
                  const inputField = document.getElementById('chapter-input-' + chapter.chapter);
                  if (inputField) {
                    inputField.value = chapter.title;
                  } else {
                    console.error(`No input field found for chapter ${chapter.chapter}`);
                  }
                });
              } else {
                console.error('Expected an array but got:', chapters);
                alert('Unexpected data format received from server.');
              }
            } else if (data.status == '500') {
              alert(data.message);
            } else if (data.status == '400') {
              alert(data.message);
            } else { // unauthorized, not logged in, user not found
              alert(data.message);
              window.location.href = '/templates/sign-in-page.html';
            }
          }))
        } else {
          for (let i = 1; i <= 15; i++) {
            document.getElementById('chapter-input-' + i).value = '';
          } 
        }
      }

      function submitForm(data) {
        const keyAuth = localStorage.getItem('keyLearntelligence');

        fetch('https://aff-learntelligence-be-3xei6xi65q-et.a.run.app/api/courses/create', {
          method: 'POST',
          headers: {  
              'Content-Type': 'application/json',
              'Authorization': "Bearer " + keyAuth
            },
            body: JSON.stringify(data)
        })
        .then(response => response.json())
        .then(data => {
          if (data.status == '201') {
            alert(data.message); // TODO: redirect to correct page
          } else if (data.status == '500') {
            alert(data.message);
          } else if (data.status == '400') {
            alert(data.message);
          } else { // unauthorized, not logged in, user not found
            alert(data.message);
            window.location.href = '/templates/sign-in-page.html';
          }
        })
      }
    </script>
  </body>
</html>
