<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/sign-in-page.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap">
    <title>Sign In</title>
</head>
<body>
    <div class="sign-in-page">
        <div class="logo-and-content">
            <a href="#" class="logo">LOGO</a>
            <h1>Sign in</h1>
            <p>If you don’t have an account <a href="/templates/register-page.html" class="register-here">Register here!</a></p>

            <form>
                <div class="input-field">
                    <img src="../assets/public/message-1.svg" alt="" class="icon">
                    <input type="text" placeholder="Enter your email address">
                </div>

                <div class="input-field">
                    <img src="../assets/public/padlock-1.svg" alt="" class="icon">
                    <input type="password" placeholder="Enter your Password">
                </div>

                <div class="options">
                    <label class="checkbox-container">
                        <input type="checkbox">
                        Remember me
                    </label>
                    <a href="#" class="forgot-password">Forgot Password?</a>
                </div>

                <button type="submit" class="login-button">Login</button>

                <div class="social-logins">
                    <img src="../assets/public/group-13.svg" alt="" class="social-icon">
                </div>
            </form>
        </div>

        <div class="branding">
            <img src="../assets/public/saly10@2x.png" alt="" class="brand-logo">
            <h1>Learntelligence</h1>
            <p>Empower Learning with AI</p>
        </div>
    </div>
</body>
</html>
