<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="../assets/css/user-learn-material.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Open Sans:wght@400;600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500;600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Archivo:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Nunito Sans:wght@700&display=swap"
    />

    <style>
      @font-face {
        font-family: "Font Awesome 5 Free";
        src: url("../assets/public/Font Awesome 5 Free-Regular-400.otf");
        font-weight: 400;
      }
    </style>
  </head>
  <body>
    <div class="user-learn-material">
      <header class="main-layout">
        <div class="navigation">
          <img
            class="back-button-icon"
            loading="lazy"
            alt=""
            id="back-button"
            style="cursor: pointer;"
            src="../assets/public/back-button.svg"
          />

          <h2 class="curriculum">Curriculum</h2>
        </div>
        <div class="content-header-wrapper">
          <div class="content-header">
            <div class="content-header-child"></div>
            <h1 class="chapter-01-introduction" id="course-big-title">
            </h1>
          </div>
        </div>
      </header>
      <main class="body">
        <div class="chapters-layout">
          <div class="chapter-items" id="chapter-section">
          </div>
          <div class="chapter-actions" id="chapter-actions">
            <div class="edit-save-buttons">
              <button class="button-edit" title="Under Development">
                <div class="bg48"></div>
                <div class="edit">Edit</div>
              </button>
            </div>
          </div>
        </div>
        <section class="content1">
          <div class="content-visual"></div>
          <div class="content-summary" id="content-parent">
          </div>
        </section>
      </main>
    </div>
    <script>
      let materials;
      let selectedChapter = 1;
      let isMaterial = true;

      document.addEventListener('DOMContentLoaded', function() {
        const backButton = document.getElementById('back-button');

        backButton.addEventListener('click', function() {
          window.history.back();
        });
      });

      window.onload = async function() {
        const params =  new URLSearchParams(window.location.search);
        const courseId = params.get('courseId');
        let circleId;
        if (params.get('lp') == 'true') {
          circleId = 'landingPage'
        } else if (params.get('cr') == 'true') {
          circleId = 'creatorLP'
        } else {
          circleId = params.get('circleId');
        }

        fetchUserData();
        try {
          materials = await fetchCourseData(courseId, circleId);
          fillChaptersSection();
          fillMaterialContent(0);
        } catch (error) {
          alert('Error fetching course data')
          console.error('Failed to fetch course data:', error);
        }
      }

      function fetchUserData() {
        const keyAuth = localStorage.getItem('keyLearntelligence');
        
        fetch('https://aff-learntelligence-be-3xei6xi65q-et.a.run.app/api/user', {
          method: 'GET',
          headers: {
            'Content-Type': 'application/json',
            'Authorization': "Bearer " + keyAuth
          }
        })
        .then(response => response.json())
        .then(data => {
          if (data.status == '200') {
            if (data.data.role == 'user') {
              document.getElementById('chapter-actions').style.display = 'none';
            }
          } else if (data.status == '500') {
            alert(data.message);
          } else { // unauthorized, not logged in, user not found
            alert(data.message);
            window.location.href = '/templates/sign-in-page.html';
          }
        })
      }

      async function fetchCourseData(courseId, circleId) {
        const keyAuth = localStorage.getItem('keyLearntelligence');

        let response;
        if (circleId != 'landingPage') {
          response = await fetch(`https://aff-learntelligence-be-3xei6xi65q-et.a.run.app/api/courses/${courseId}?circleId=${circleId}`, {
            method: 'GET',
            headers: {
              'Content-Type': 'application/json',
              'Authorization': 'Bearer ' + keyAuth
            }
          });
        } else {
          response = await fetch(`https://aff-learntelligence-be-3xei6xi65q-et.a.run.app/api/courses/landingpage/${courseId}`, {
            method: 'GET',
            headers: {
              'Content-Type': 'application/json',
              'Authorization': 'Bearer ' + keyAuth
            }
          });
        }

        const data = await response.json();
        if (data.status == '200') {
          document.getElementById('course-big-title').innerText = data.data.name;
          return data.data.content;
        } else if (data.status == '500') {
          alert(data.message);
          window.history.back();
        } else { // unauthorized, not logged in, user not found
          alert(data.message);
          window.location.href = '/templates/sign-in-page.html';
        }
      }

      function fillChaptersSection() {
        const section = document.getElementById('chapter-section');

        for (let i = 1; i <= materials.length; i++) {
          const chapter = document.createElement('div');
          if (i !== 1) {
            chapter.classList.add('chapter-unselect')
          } else {
            chapter.classList.add('chapter-select');
          }
          chapter.id = `chapter-${i}`;
          chapter.addEventListener('click', function() {
            selectChapter(i);
          })

          const chapterChild = document.createElement('div');
          chapterChild.classList.add('chapter-child');
          chapter.appendChild(chapterChild);

          const chapterIcon = document.createElement('div');
          chapterIcon.classList.add('chapter-icons');
          const icon = document.createElement('div');
          icon.classList.add('div');
          icon.innerText = '';
          chapterIcon.appendChild(icon);
          chapter.appendChild(chapterIcon);

          const title = document.createElement('div');
          title.classList.add('chapter-title');
          title.innerText = `Chapter ${i}: ${materials[i-1].title}`;
          chapter.appendChild(title);
          section.appendChild(chapter);
        }
        quizChapter(1, false);
      }

      function selectChapter(index) {
        if ((index !== selectedChapter && isMaterial) || !isMaterial) {
          document.getElementById(`chapter-${selectedChapter}`).className = 'chapter-unselect';
          document.getElementById(`chapter-${index}`).className = 'chapter-select';
          fillMaterialContent(index-1)
          quizChapter(index, true);
          selectedChapter = index;
        }
      }

      function quizChapter(index, remove) {
        if (remove) {
          document.getElementById('chapter-quiz').remove()
        }

        const parentChapter = document.getElementById(`chapter-${index}`);

        const parentQuiz = document.createElement('div');
        parentQuiz.classList.add('chapter-quiz');
        parentQuiz.id = 'chapter-quiz';

        const child = document.createElement('div');
        child.classList.add('chapter-quiz-child');
        const div1 = document.createElement('div');
        div1.classList.add('div1');
        div1.innerText = '';
        const quiz = document.createElement('div');
        quiz.classList.add('quiz');
        quiz.innerText = 'Quiz'
        parentQuiz.appendChild(child);
        parentQuiz.appendChild(div1);
        parentQuiz.appendChild(quiz);
        parentQuiz.addEventListener('click', function() {
          fillQuizContent(index, 1)
        })

        parentChapter.insertAdjacentElement('afterend', parentQuiz)
      }
   
      function fillMaterialContent(index) {
        const content = materials[index]
        const parent = document.getElementById('content-parent');
        parent.innerHTML = ''
        const paragraphs = content.text.split('\n');

        paragraphs.forEach(paragraph => {
          if (paragraph !== '') {
            let child = null;
            if (paragraph.startsWith('###')) {
              child = document.createElement('h3');
              child.classList.add('o6-super-coins');
              child.innerText = paragraph.replace(/###\s*/, '');
            } else if (paragraph.startsWith('##')) {
              child = document.createElement('h2');
              child.classList.add('o6-super-coins');
              child.innerText = paragraph.replace(/##\s*/, '');
            } else if (!paragraph.startsWith('#')) {
              child = document.createElement('div');
              child.classList.add('lorem-ipsum-dolor');
              paragraph = paragraph.replace(/\*\*(.*?)\*\*/g, '<strong>$1</strong>');
              child.innerHTML = paragraph;
            }
  
            if (child) {
              parent.appendChild(child);
            }
          }
        })
      }

      function fillQuizContent(index, number) {
        isMaterial = false;
        const quizLength = materials[index-1].quiz.length;
        const question = materials[index-1].quiz[number-1];
        const parent = document.getElementById('content-parent');
        parent.innerHTML = '';

        const qFrame = document.createElement('div');
        qFrame.classList.add('question-frame');
        const qInfo = document.createElement('div');
        qInfo.classList.add('question-info');
        qInfo.innerText = `Question ${number}/${quizLength}`
        qFrame.appendChild(qInfo);
        const qText = document.createElement('h4');
        qText.classList.add('question-info');
        qText.innerText = question.question
        qFrame.appendChild(qText);
        parent.appendChild(qFrame);

        const seperator = document.createElement('div');
        seperator.classList.add('separator-wrapper');
        const sepImg = document.createElement('img');
        sepImg.classList.add('separator-icon');
        sepImg.loading = 'lazy';
        sepImg.alt = '';
        sepImg.src = '../assets/public/separator.svg'
        seperator.appendChild(sepImg);
        parent.appendChild(seperator);

        const answerFrame = document.createElement('div');
        answerFrame.classList.add('answer-frame');
        question.choices.forEach(choice => {
          const card = document.createElement('div');
          card.classList.add('option-card');
          const opt = document.createElement('div');
          opt.classList.add('option');
          card.appendChild(opt);
          const optContent = document.createElement('div');
          optContent.classList.add('option-content');
          const optLetter = document.createElement('div');
          optLetter.classList.add('option-letter');
          const letter = document.createElement('h1');
          letter.classList.add('letter');
          letter.innerText = choice.letter;
          optLetter.appendChild(letter);
          optContent.appendChild(optLetter);
          card.appendChild(optContent);

          const optAnswer = document.createElement('div');
          optAnswer.classList.add('option-answer');
          const answer = document.createElement('h3');
          answer.classList.add('answer');
          answer.innerText = choice.answer;
          optAnswer.appendChild(answer); 
          card.appendChild(optAnswer);

          card.addEventListener('click', function() {
            validateAnswer(choice.letter, question.key);
          })

          card.id = `${choice.letter}`
          answerFrame.appendChild(card);
        })
        parent.appendChild(answerFrame);

        const buttonFrame = document.createElement('div');
        buttonFrame.classList.add('button-frame')

        if (number != 1) {
          const buttonWrapperBack = document.createElement('div');
          buttonWrapperBack.classList.add('button-wrapper');
          const buttonBack = document.createElement('div');
          buttonBack.classList.add('button-next');
          const boxBack = document.createElement('div');
          boxBack.classList.add('box');
          const back = document.createElement('div');
          back.classList.add('next')
          back.innerText = 'Back'
          buttonBack.appendChild(boxBack);
          buttonBack.appendChild(back);
          buttonWrapperBack.appendChild(buttonBack);
          buttonFrame.appendChild(buttonWrapperBack);
          buttonWrapperBack.addEventListener('click', function() {
            fillQuizContent(index, number-1);
          })
        }

        if (number != quizLength) {
          const buttonWrapper = document.createElement('div');
          buttonWrapper.classList.add('button-wrapper');
          const buttonNext = document.createElement('div');
          buttonNext.classList.add('button-next');
          const box = document.createElement('div');
          box.classList.add('box');
          const next = document.createElement('div');
          next.classList.add('next')
          next.innerText = 'Next'
          buttonNext.appendChild(box);
          buttonNext.appendChild(next);
          buttonWrapper.appendChild(buttonNext);
          buttonFrame.appendChild(buttonWrapper);
          buttonWrapper.addEventListener('click', function() {
            fillQuizContent(index, number+1);
          })
        }

        parent.appendChild(buttonFrame);
      }

      function validateAnswer(choice, key) {
        if (choice != key) {
          document.getElementById(choice).style.backgroundColor = 'rgba(234, 125, 125, 0.564)'
        }
        document.getElementById(key).style.backgroundColor = 'rgba(106, 245, 0, 0.564)'
      }
    </script>
  </body>
</html>