<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="../assets/css/user-learn-quiz.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Open Sans:wght@400;600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500;600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Archivo:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Nunito Sans:wght@700&display=swap"
    />

    <style>
      @font-face {
        font-family: "Font Awesome 5 Free";
        src: url("../assets/public/Font Awesome 5 Free-Regular-400.otf");
        font-weight: 400;
      }
    </style>
  </head>
  <body>
    <div class="user-learn-quiz">
      <div class="frame-parent4">
        <div class="back-button-parent">
          <img
            class="back-button-icon1"
            loading="lazy"
            alt=""
            src="../assets/public/back-button.svg"
          />

          <h2 class="curriculum1">Curriculum</h2>
        </div>
        <div class="content-header-container">
          <header class="content-header1">
            <div class="content-header-item"></div>
            <h1 class="chapter-01-quiz">Chapter 01: Quiz</h1>
          </header>
        </div>
      </div>
      <main class="frame-main">
        <div class="chapter-summary-quiz-wrapper">
          <div class="chapter-summary-quiz">
            <div class="chapter-11">
              <div class="chapter-1-item"></div>
              <div class="div5"></div>
              <div class="chapter-011">Chapter 01 : Introduction about XD</div>
            </div>
            <div class="chapter-1-summary">
              <div class="chapter-1-summary-child"></div>
              <div class="wrapper1">
                <div class="div6"></div>
              </div>
              <div class="quiz1">Quiz</div>
            </div>
            <div class="chapter-21">
              <div class="chapter-2-item"></div>
              <div class="wrapper2">
                <div class="div7"></div>
              </div>
              <div class="chapter-2-basic1">Chapter 2: Basic Syntax</div>
            </div>
            <div class="chapter-31">
              <div class="chapter-3-item"></div>
              <div class="wrapper3">
                <div class="div8"></div>
              </div>
              <div class="chapter-3-implementation1">
                Chapter 3: Implementation
              </div>
            </div>
            <div class="chapter-41">
              <div class="chapter-4-item"></div>
              <div class="wrapper4">
                <div class="div9"></div>
              </div>
              <div class="chapter-4-maintaining1">
                Chapter 4: Maintaining the Code
              </div>
            </div>
          </div>
        </div>
        <section class="content2">
          <div class="rectangle"></div>
          <div class="frame-parent5">
            <div class="question-15-wrapper">
              <div class="question-15">Question 2/10</div>
            </div>
            <h2 class="which-of-the">
              Which of the following is the term for surgical complications
              resulting from surgical sponges left inside the patient's body?
            </h2>
          </div>
          <div class="content-inner">
            <div class="frame-parent6">
              <div class="separator-wrapper">
                <img
                  class="separator-icon"
                  loading="lazy"
                  alt=""
                  src="../assets/public/separator.svg"
                />
              </div>
              <div class="answer-options">
                <div class="option-1-parent">
                  <div class="option-1"></div>
                  <div class="options-content">
                    <div class="ellipse-a"></div>
                    <div class="option-letters">
                      <h1 class="a">A</h1>
                    </div>
                  </div>
                  <div class="answer-status">
                    <h3 class="ans-1">Gauze grievance disorder</h3>
                  </div>
                </div>
                <div class="option-2-parent">
                  <div class="option-2"></div>
                  <div class="ellipse-b-parent">
                    <div class="ellipse-b"></div>
                    <div class="b-wrapper">
                      <h1 class="b">B</h1>
                    </div>
                  </div>
                  <div class="ans-2-wrapper">
                    <h3 class="ans-2">Retained surgical sponge syndrome</h3>
                  </div>
                </div>
                <div class="option-3-parent">
                  <div class="option-3"></div>
                  <div class="ellipse-c-parent">
                    <div class="ellipse-c"></div>
                    <div class="c-wrapper">
                      <h1 class="c">C</h1>
                    </div>
                  </div>
                  <div class="ans-3-wrapper">
                    <h3 class="ans-3">Sponge-induced septicemia</h3>
                  </div>
                </div>
                <div class="option-4-parent">
                  <div class="option-4"></div>
                  <div class="ellipse-d-parent">
                    <div class="ellipse-d"></div>
                    <div class="d-wrapper">
                      <h1 class="d">D</h1>
                    </div>
                  </div>
                  <div class="ans-4-wrapper">
                    <h3 class="ans-4">Fabric foreign object syndrome</h3>
                  </div>
                </div>
              </div>
              <div class="button-next-wrapper">
                <button class="button-next">
                  <div class="button-box"></div>
                  <div class="next">Next</div>
                </button>
              </div>
            </div>
          </div>
        </section>
      </main>
    </div>
  </body>
</html>
