<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="../assets/css/user-landing-page.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Open Sans:wght@400;600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500;600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Archivo:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Nunito Sans:wght@700&display=swap"
    />

    <style>
      @font-face {
        font-family: "Font Awesome 5 Free";
        src: url("../assets/public/Font Awesome 5 Free-Regular-400.otf");
        font-weight: 400;
      }
    </style>
  </head>
  <body>
    <div class="user-landing-page">
      <div class="wrapper-bg-parent">
        <div class="wrapper-bg">
          <img class="bg-icon" alt="" src="../assets/public/bg.svg" />
        </div>
        <div class="image1">
          <img class="image-child" alt="" src="../assets/public/vector-1.svg" />

          <img
            class="school-boy-holding-copy-space-icon"
            loading="lazy"
            alt=""
            src="../assets/public/schoolboyholdingcopyspacenootebook-1-1@2x.png"
          />
        </div>
      </div>
      <header class="header3">
        <div class="header-content2">
          <img
            class="logo-icon2"
            loading="lazy"
            alt=""
            src="../assets/public/logo.svg"
          />

          <div class="nav-links2">
            <a class="home2" href="">Home</a>
            <a class="become-a-creator2" href="/templates/user-join-as-teacher.html">Become a Creator</a>
            <a class="circles2" href="#your-circles">Circles</a>
          </div>
          <div class="login-section2">
            <button class="logout" id="logout">Sign out</button>
            <img
              class="avatar-icon2"
              loading="lazy"
              alt=""
              src="../assets/public/placeholder-picture.jpg"
            />
          </div>
        </div>
      </header>
      <main class="user-landing-page-inner" id="main">
        <section class="frame-section">
          <div class="free-courses-title-wrapper">
            <div class="free-courses-title">
              <div class="user-greeting-parent">
                <div class="user-greeting">
                  <div class="bg17"></div>
                  <div class="hello-user" id="hello-user"></div>
                </div>
                <h1 class="discover-ai-generated-container">
                  <p class="discover-ai-generated">Discover AI Generated</p>
                  <p class="courses-with">Courses with</p>
                  <p class="learntelligence6">Learntelligence</p>
                </h1>
              </div>
              <div class="learntelligence-is-an">
                Learntelligence is an innovative platform that empowers you to
                create and access tailored, AI generated courses designed to
                meet your unique learning needs. We break down barriers and pave
                the way for your academic and professional growth.
              </div>
            </div>
          </div>
          <div class="course-categories">
            <div class="category-list-parent">
              <div class="category-list">
                <div class="category-items">
                  <h1 class="free-courses-generated">
                    Free Courses Generated with AI
                  </h1>
                  <div class="course-description">
                    <div class="below-are-the">
                      Below are the free courses you can access as a free user.
                      Each course is designed to provide high-quality learning
                      experiences, curated by our intelligent AI system. If you
                      want to create your own courses, be a creator.
                    </div>
                  </div>
                  <div class="category-display">
                    <div class="category-name">
                      <div class="category-label">
                        <div class="health">Health</div>
                      </div>
                      <button class="high-school">
                        <div class="bg18"></div>
                        <div class="technology">Technology</div>
                      </button>
                      <div class="category-label1">
                        <div class="communication">Communication</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="standard-list-parent">
                <div class="standard-list">
                  <div class="bg19"></div>
                  <div class="standard-item">
                    <div class="standard-content">
                      <h3 class="standard-one">Standard One</h3>
                    </div>
                    <div class="standard-1-is">
                      Standard 1 is a foundation Standard that reflects 7
                      important concepts...
                    </div>
                  </div>
                  <div class="standard-button">
                    <button class="button2">
                      <div class="bg20"></div>
                      <div class="learn1">Learn</div>
                    </button>
                  </div>
                </div>
                <div class="standard-list1">
                  <div class="bg21"></div>
                  <div class="frame-parent8">
                    <div class="standard-two-wrapper">
                      <h3 class="standard-two">Standard Two</h3>
                    </div>
                    <div class="standard-2-builds">
                      Standard 2 builds on the foundations of Standard 1 and
                      includes requirements...
                    </div>
                  </div>
                  <div class="button-wrapper">
                    <button class="button3">
                      <div class="bg22"></div>
                      <div class="learn2">Learn</div>
                    </button>
                  </div>
                </div>
                <div class="standard-list2">
                  <div class="bg23"></div>
                  <div class="frame-parent9">
                    <div class="standard-three-wrapper">
                      <h3 class="standard-three">Standard Three</h3>
                    </div>
                    <div class="standard-3-of">
                      Standard 3 of the Aged Care Quality Standards applies to
                      all services delivering personal...
                    </div>
                  </div>
                  <div class="button-container">
                    <button class="button4">
                      <div class="bg24"></div>
                      <div class="learn3">Learn</div>
                    </button>
                  </div>
                </div>
                <div class="standard-list3">
                  <div class="bg25"></div>
                  <div class="frame-parent10">
                    <div class="standard-four-wrapper">
                      <h3 class="standard-four">Standard Four</h3>
                    </div>
                    <div class="standard-4-of">
                      Standard 4 of the Aged Care Quality Standards focuses on
                      services and supports...
                    </div>
                  </div>
                  <div class="button-frame">
                    <button class="button5">
                      <div class="bg26"></div>
                      <div class="learn4">Learn</div>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="circles-content-wrapper" id="your-circles">
            <div class="circles-content">
              <div class="circles-description">
                <div class="circles-title">
                  <h1 class="your-circles">Your Circles</h1>
                </div>
                <div class="circles-info">
                  <div class="circle-is-a">
                    Circle is a feature for Creators to create and manage
                    learning groups. With Circle, Creators can generate and
                    distribute courses exclusively within their groups.
                  </div>
                </div>
                <div class="join-title-parent">
                  <div class="join-title1">
                    <div class="join-circle">Join Circle</div>
                  </div>
                  <div class="join-action">
                    <div class="join-elements">
                      <div class="join-elements-child"></div>
                      <input
                        class="invitation-link1"
                        id="invitation-link"
                        placeholder="Invitation Link"
                        type="text"
                      />
                    </div>
                    <button class="button-generate-course" id="join-circle-button">
                      <div class="bg27"></div>
                      <div class="join">Join</div>
                    </button>
                  </div>
                  <span class="join-message" id="join-message"></span>
                  <span class="join-success" id="join-success">Joined circle successfully</span>
                </div>
              </div>
              <div class="team-section" id="team-section">
              </div>
            </div>
          </div>
          <div class="features-content-wrapper">
            <div class="features-content">
              <div class="features-title">
                <h1 class="our-features">
                  <span>Our </span>
                  <span class="features">Features</span>
                </h1>
              </div>
              <h3 class="these-exceptional-features">
                These exceptional features make learning activities more
                efficient and effective.
              </h3>
            </div>
          </div>
          <div class="feature-list">
            <div class="feature-item">
              <div class="first-feature">
                <img
                  class="image-12-icon"
                  loading="lazy"
                  alt=""
                  src="../assets/public/image-12@2x.png"
                />
              </div>
              <div class="feature-description">
                <div class="description-content">
                  <h1 class="an-intelligent-course">
                    An Intelligent Course Creation
                  </h1>
                </div>
                <div class="creation-process-parent">
                  <div class="creation-process">
                    <div class="step-one">
                      <div class="parameter-setting">
                        <div class="step-image">
                          <div class="image-container">
                            <div class="first-step-icon"></div>
                            <div class="image-placeholder"></div>
                            <div class="image-placeholder1"></div>
                            <div class="image-placeholder2"></div>
                            <div class="image-placeholder3"></div>
                          </div>
                        </div>
                      </div>
                      <div class="define-learning-parameters-container">
                        <b>Define Learning Parameters:</b>
                        <span>
                          Set specific topic and target audience to tailor the
                          course content to your needs.</span
                        >
                      </div>
                    </div>
                  </div>
                  <div class="step-two">
                    <div class="resource-addition">
                      <div class="step-image1">
                        <div class="image-container1">
                          <div class="step-elements">
                            <div class="second-step-icon-parent">
                              <div class="second-step-icon"></div>
                              <div class="rectangle-parent8">
                                <div class="frame-child9"></div>
                                <div class="frame-child10"></div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="add-additional-resources-container">
                          <b>Add Additional Resources:</b>
                          <span>
                            Enrich the learning experience by incorporating
                            supplementary materials such as videos, articles,
                            and interactive content.</span
                          >
                        </div>
                      </div>
                    </div>
                    <div class="step-three">
                      <div class="output-modification">
                        <div class="step-image2">
                          <div class="image-container2">
                            <div class="third-step-icon"></div>
                            <img
                              class="users-2-icon"
                              loading="lazy"
                              alt=""
                              src="../assets/public/users-2.svg"
                            />
                          </div>
                        </div>
                      </div>
                      <div class="modify-the-output-container">
                        <b>Modify the Output:</b>
                        <span>
                          Customize the generated course content to better fit
                          your preferences</span
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="second-feature">
            <div class="quiz-summary">
              <div class="content-description">
                <div class="course-summary">
                  <h1 class="materials-quizzes-and-container">
                    <span>Materials, </span>
                    <span class="quizzes">Quizzes</span>
                    <span>, and Summaries</span>
                  </h1>
                  <div class="material-description">
                    <h3 class="courses-include-high-quality">
                      Courses include high-quality & structured materials,
                      engaging quizzes, and comprehensive summaries to enhance
                      your learning experience.
                    </h3>
                  </div>
                </div>
              </div>
              <img
                class="image-12-icon1"
                alt=""
                src="../assets/public/image-12-1@2x.png"
              />
            </div>
            <div class="circle-feature">
              <div class="image-12-parent">
                <img
                  class="image-12-icon2"
                  alt=""
                  src="../assets/public/image-12-2@2x.png"
                />

                <div class="circle-heading-wrapper">
                  <div class="circle-heading">
                    <h1 class="managing-learning-group-container">
                      <span>Managing learning group with </span>
                      <span class="circle1">Circle</span>
                    </h1>
                    <div class="circle-explanation">
                      <h3 class="circle-is-a1">
                        Circle is a feature for Creators to create and manage
                        learning groups. With Cource Circle, Creators can
                        generate and distribute courses exclusively within their
                        groups.
                      </h3>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="creator-call-to-action">
            <div class="creator-content1">
              <img
                class="image-icon8"
                loading="lazy"
                alt=""
                src="../assets/public/image1@2x.png"
              />

              <div class="creator-message">
                <div class="creator-prompt">
                  <div class="creator-invitation">
                    <h1 class="want-to-generate-container">
                      <p class="want-to-generate">
                        Want to generate your own courses? Join us
                      </p>
                      <p class="as-creator1">as Creator</p>
                    </h1>
                    <div class="create-and-share1">
                      Create and share your own courses with ease. Apply now to
                      become an instructor, and our team will help you get
                      started and verify your credentials.
                    </div>
                  </div>
                  <button class="button6" onclick="window.location.href='/templates/user-join-as-teacher.html'">
                    <div class="bg29"></div>
                    <div class="become-creator">Become Creator</div>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
    </div>
    <script>
      document.addEventListener('DOMContentLoaded', () => {
        const logoutButton = document.getElementById('logout');
        const joinCircleButton = document.getElementById('join-circle-button');
        const invitationInput = document.getElementById('invitation-link');

        invitationInput.addEventListener('input', function() {
          document.getElementById('join-success').style.display = 'none';
          document.getElementById('join-message').style.display = 'none';
        })

        logoutButton.addEventListener('click', function() {
          localStorage.removeItem('keyLearntelligence');
          window.location.href = '/templates/sign-in-page.html';
        })

        joinCircleButton.addEventListener('click', function() {
          joinCircle(invitationInput.value);
        })
      })

      window.onload = function() {
        fetchUserData();
        fetchCircles();
      }

      function joinCircle(invitationLink) {
        const keyAuth = localStorage.getItem('keyLearntelligence');
        fetch(invitationLink, {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
            'Authorization': "Bearer " + keyAuth
          }
        }) 
        .then(response => response.json())
        .then(data => {
          if (data.status == '200') {
            const message = document.getElementById('join-success');
            message.textContent = data.message;
            message.style.display = 'block';
            teamSection.innerHTML = '';
            fetchCircles();
          } else if (data.status == '404' || data.status == '500') {
            const message = document.getElementById('join-message');
            message.textContent = data.message;
            message.style.display = 'block';
          } else { // unauthorized, not logged in, user not found
            alert(data.message);
            window.location.href = '/templates/sign-in-page.html';
          }
        })
      }

      function fetchUserData() {
        const keyAuth = localStorage.getItem('keyLearntelligence');
        
        fetch('https://aff-learntelligence-be-3xei6xi65q-et.a.run.app/api/user', {
          method: 'GET',
          headers: {
            'Content-Type': 'application/json',
            'Authorization': "Bearer " + keyAuth
          }
        })
        .then(response => response.json())
        .then(data => {
          if (data.status == '200') {
            if (data.data.role == 'creator') {
              window.location.href = '/templates/creator-landing-page.html'
            }
            document.getElementById('hello-user').innerText = `Hello, ${data.data.name}!`
          } else if (data.status == '500') {
            alert(data.message);
          } else { // unauthorized, not logged in, user not found
            alert(data.message);
            window.location.href = '/templates/sign-in-page.html';
          }
        })
      }

      function fetchCircles() {
        const keyAuth = localStorage.getItem('keyLearntelligence');

        fetch('https://aff-learntelligence-be-3xei6xi65q-et.a.run.app/api/circles', {
          method: 'GET',
          headers: {
            'Content-Type': 'application/json',
            'Authorization': "Bearer " + keyAuth
          }
        })
        .then(response => response.json())
        .then(data => {
          if (data.status == '200') {
            const teamSection = document.getElementById('team-section');
            if (data.data.length) {
              data.data.forEach(circle => {
                teamSection.appendChild(createCard(circle.circleName, circle.id));
              });
            } else {
              teamSection.appendChild(createCard('No circles yet...', '#'));
            }
          } else if (data.status == '500') {
            alert(data.message);
          } else { // unauthorized, not logged in, user not found
            alert(data.message);
            window.location.href = '/templates/sign-in-page.html';
          }
        })
      }

      function createCard(titleText, circleId) {
        const button = document.createElement('button');
        button.classList.add('circle-link');

        const card  = document.createElement('div');
        card.classList.add('circle-card');

        const bgDiv = document.createElement('div');
        bgDiv.classList.add('bg28');

        const title = document.createElement('h3');
        title.classList.add('circle-title');
        title.textContent = titleText;

        card.appendChild(bgDiv);
        card.appendChild(title);
        button.appendChild(card);

        button.addEventListener('click', function() {
          window.location.href = `/templates/user-circle-page.html?circleId=${circleId}`;
        });

        return button;
      }
    </script>
  </body>
</html>