<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="../assets/css/user-join-as-teacher.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Open Sans:wght@400;600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500;600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Archivo:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Nunito Sans:wght@700&display=swap"
    />

    <style>
      @font-face {
        font-family: "Font Awesome 5 Free";
        src: url("../assets/public/Font Awesome 5 Free-Regular-400.otf");
        font-weight: 400;
      }
    </style>
  </head>
  <body>
    <form id="form">
    <div class="user-join-as-teacher">
      <header class="header1">
        <div class="header-content">
          <img
            class="logo-icon"
            loading="lazy"
            alt=""
            src="../assets/public/Logo.png"
          />

          <div class="nav-links">
            <a class="home" href="/templates/user-landing-page.html">Home</a>
            <a class="become-a-creator" href="">Become a Creator</a>
            <a class="circles" href="/templates/user-landing-page.html#your-circles">Circles</a>
          </div>
          <div class="login-section">
            <button class="logout" id="logout">Sign out</button>
            <img
              class="avatar-icon"
              loading="lazy"
              alt=""
              src="../assets/public/placeholder-picture.jpg"
            />
          </div>
        </div>
      </header>
      <main class="page-content-wrapper">
        <section class="page-content">
          <div class="bg">
            <div class="bg1"></div>
            <div class="join-title">
              <h1 class="join-learntelligence-as-container">
                <p class="join-learntelligence">Join Learntelligence</p>
                <p class="as-creator">as Creator</p>
              </h1>
            </div>
            <img
              class="front-view-male-student-red-ch-icon"
              loading="lazy"
              alt=""
              src="../assets/public/frontviewmalestudentredcheckeredshirtwithbackpackholdingfeltpenscopybooklightbluewall-3@2x.png"
            />
          </div>
          <div class="creator-content-wrapper">
            <div class="creator-content">
              <div class="image">
                <div class="bg2"></div>
                <img
                  class="front-view-male-student-red-ch-icon1"
                  alt=""
                  src="../assets/public/frontviewmalestudentredcheckeredshirtwithbackpackholdingfeltpenscopybooklightbluewall-3-1@2x.png"
                />

                <img
                  class="front-view-male-student-red-ch-icon2"
                  alt=""
                  src="../assets/public/frontviewmalestudentredcheckeredshirtwithbackpackholdingfeltpenscopybooklightbluewall-5@2x.png"
                />
              </div>
              <div class="application-form">
                <div class="form-fields">
                  <h2 class="apply-as-creator">Apply As Creator</h2>
                  <div class="create-and-share">
                    Create and share your own courses with ease. Apply now to
                    become an instructor, and our team will help you get started
                    and verify your credentials.
                  </div>
                </div>
                <div class="submission-form">
                  <div class="why-are-you">
                    Why are you applying for creator?
                  </div>
                  <div class="bg3"></div>
                  <textarea
                    class="creator-submission"
                    placeholder="Enter your message"
                    id="reason"
                    required
                    rows="{12}"
                    cols="{28}"
                  ></textarea>
                  <button class="button" type="submit" id="submit-button">
                    <div class="bg4"></div>
                    <div class="apply-now">Apply Now</div>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
    </div>
  </form>
    <script>
      document.addEventListener('DOMContentLoaded', () => {
        const form = document.getElementById('form');
        const logoutButton = document.getElementById('logout');

        form.addEventListener('submit', function(event) {
          event.preventDefault();
          const reason = document.getElementById('reason').value;
          submitReasoning(reason)
        })

        logoutButton.addEventListener('click', function() {
          localStorage.removeItem('keyLearntelligence');
          window.location.href = '/templates/sign-in-page.html';
        })
      })

      window.onload = function() {
        fetchUserData();
      }

      function submitReasoning(reason) {
        const keyAuth = localStorage.getItem('keyLearntelligence');
        const data = {
          'message': reason
        }

        fetch('https://aff-learntelligence-be-3xei6xi65q-et.a.run.app/api/user/request-role', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
            'Authorization': "Bearer " + keyAuth
          },
          body: JSON.stringify(data)
        })
        .then(response => response.json())
        .then(data => {
          if (data.status == '200') {
            window.location.href = '/templates/user-landing-page.html';
          } else if (data.status == '500') {
            alert(data.message);
          } else { // unauthorized, not logged in, user not found
            alert(data.message);
            window.location.href = '/templates/sign-in-page.html';
          }
        })
      }

      function fetchUserData() {
        const keyAuth = localStorage.getItem('keyLearntelligence');
        
        fetch('https://aff-learntelligence-be-3xei6xi65q-et.a.run.app/api/user', {
          method: 'GET',
          headers: {
            'Content-Type': 'application/json',
            'Authorization': "Bearer " + keyAuth
          }
        })
        .then(response => response.json())
        .then(data => {
          if (data.status == '200') {
            if (data.data.role == 'creator') {
              window.location.href = '/templates/creator-landing-page.html'
            }
          } else if (data.status == '500') {
            alert(data.message);
          } else { // unauthorized, not logged in, user not found
            alert(data.message);
            window.location.href = '/templates/sign-in-page.html';
          }
        })
      }
    </script>
  </body>
</html>
